{% extends 'GestionDeMascotas/mascota.html' %}

{% block titulo %}
Gestion de Mascotas | Eliminar Mascotas
{% endblock %}

{% block mascotaTitulo %}
Eliminar Mascota
{% endblock %}

{% block mascotaSubtitulo %}
Elimina permanentemente los datos del tipo de atencion del sistema
{% endblock %}

{% block mascotaContenido %}

<div class="mascotaCuerpo">

    <form class="form" action="{% url 'mascota:mascotaEliminar' id %}" method="post">
        {% csrf_token %}

		<p class="tda-aviso-eliminacion"> Confirmar eliminacion: </p>

        <button type="submit" class="btn btn-sm btn-default center-block">Eliminar</button>

    </form>

</div>

{% endblock %}
