{% extends 'GestionDeMascotas/GestionDeMascotas.html' %}

{% block paginaEstilos %}

    {{ block.super }}
    {{formulario.media.css}}

{% endblock %}

{% block titulo %}
Gestion de Mascotas | Crear mascota
{% endblock %}

{% block mascotaTitulo %}
{% if titulo == 1 %}
    Nueva Mascota
{% endif %}
{% if titulo == 2 %}
    Modificar Mascota
{% endif %}
{% endblock %}

{% block mascotaSubtitulo %}
{% if titulo == 1 %}
    Agrega una Mascota al listado
{% endif %}
{% if titulo == 2 %}
    Modifica datos de la Mascota
{% endif %}
{% endblock %}


{% block mascotaContenido %}

    <div class="mascotaCuerpo">
        <form class="form-horizontal" action="" method="post">

            {% csrf_token %}

            {% include 'formularios/snippet.html' with campos=formulario accion="Guardar Datos" %}

        </form>
    </div>

    


{% endblock %}


{% block paginaJavascript %}
    {{ block.super }}
    {{formulario.media.js}}
{% endblock %}
