{% extends 'GestionDeMascotas/GestionDeMascotas.html' %}
{% load static %}

{% block paginaEstilos %}
    {{ block.super }}
    <link href="{% static "vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
    <link href="{% static "css/tema-datetimepicker.css" %}" rel="stylesheet">
{% endblock %}

{% block titulo %}
Gestion de Mascotas | {{titulo}}
{% endblock %}

{% block tituloSeccion %}
{% if titulo == 1 %}
    Nueva Mascota
{% endif %}
{% if titulo == 2 %}
    Modificar Mascota
{% endif %}
{% endblock %}

{% block subtitulo %}
{% if titulo == 1 %}
    Agrega un Mascota al listado
{% endif %}
{% if titulo == 2 %}
    Modifica datos del Mascota
{% endif %}
{% endblock %}

{% block contenido %}
{{formulario.media}}
    <div class="mascotaCuerpo">
        <form class="form-horizontal formulario" action="" method="post">

            {% csrf_token %}

            {% include 'GestionDeMascotas/snippetMascota.html' with campos=formulario accion="Guardar Datos"%}


        </form>
    </div>

{% endblock %}

{% block paginaJavascript %}
    {{block.super}}
    <script src="{% static 'js/GestionDeMascotas.js' %}"></script>
{% endblock paginaJavascript %}
