{% extends "sitioBase.html" %}
{% load static %}

{% block paginaEstilos %}
  {{ block.super }}
    <link rel="stylesheet" href="{% static 'GestionDeMascotas/css/GestionDeMascotas.css' %}">
{% endblock paginaEstilos %}

{% block paginaSeccionGeneral %}
  <section>
    {% block secciones %}

    {% endblock %}

    <h4 class="mascotaTitulo">
      {% block mascotaTitulo %}
      {% endblock mascotaTitulo %}
    </h4>

    <div class="mascotaLineaTitulo"> </div>

    <p class="mascotaSubtitulo">
      {% block mascotaSubtitulo %}
      {% endblock mascotaSubtitulo%}
    </p>

  {% block mascotaContenido %}
  {% endblock mascotaContenido %}
  </section>
{% endblock paginaSeccionGeneral %}

{% block footer %}
  <p>Para mas información de las mascotas haga click aquí<p>
{% endblock footer %}

