<!DOCTYPE html>

{% extends "sitioBase.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="{% block body_class %}nav-md {% endblock body_class %}">
        {% block paginaSeccionGeneral %}

          {{ block.super }}
          <p>Sitio para gestionar las mascotas de la Veterinaria.<p>

        {% endblock paginaSeccionGeneral %}

        {% block footer %}
        <p>Para más información de las Mascotas haga click aquí<p>
        {% endblock footer %}
</body>
</html>
