{% extends "sitioBase.html" %}
{% load static %}

{% block paginaEstilos %}
  {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/GestionDeMascotas.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" >
{% endblock paginaEstilos %}

{% block paginaSeccionGeneral %}
  <section>
    {% block secciones %}

    {% endblock %}

    <h4 class="mascotaTitulo">
      {% block mascotaTitulo %}
      {% endblock mascotaTitulo %}
    </h4>
    <br>
    <div class="mascotaLineaTitulo"> </div>

    <p class="mascotaSubtitulo">
      {% block mascotaSubtitulo %}
      {% endblock mascotaSubtitulo%}
    </p>

  {% block mascotaContenido %}
  {% endblock mascotaContenido %}
  </section>
{% endblock paginaSeccionGeneral %}


{% block footer %}
  <p>Para mas información de las mascotas haga click aquí<p>
{% endblock footer %}

{% block paginaJavascript %}
    {{block.super}}
    <script src="{% static 'js/GestionDeMascotas.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/es.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js'%}"></script>
{% endblock paginaJavascript %}