{% extends 'GestionDeMascotas/mascota.html' %}

{% block titulo %}
Gestion de mascotas | Modificar Mascota
{% endblock %}

{% block MascotaTitulo %}
Modificar Mascota
{% endblock %}

{% block MascotaSubtitulo %}
Permite cambiar datos relacionados a la Mascota
{% endblock %}

{% block MascotaContenido %}

    {% include './accionesSnippet.html' with item=Mascota seccion='modificar' %}

    <div class="MascotaCuerpo">
            <form class="form formulario" action="{% url 'Mascota:MascotaModificar' Mascota.id  %}" method="post">

                {% csrf_token %}

                {% include './formularioSnippet.html' with campos=formulario %}

                <button type="submit" class="btn btn-sm btn-default">Modificar</button>

            </form>
    </div>

{% endblock %}
