<html lang="en">
{% extends 'GestionDeMascotas/mascota.html' %}

{% block titulo %}
Gestion de mascota | Ver Mascota
{% endblock %}

{% block mascotaTitulo %}
Ver Mascota
{% endblock %}

{% block mascotaSubtitulo %}
Muestra datos de Mascota
{% endblock %}

{% block mascotaContenido %}

    {% include './accionesSnippet.html' with item=mascota seccion='ver' %}

    <div class="mascotaCuerpo">

        {% if mascota %}
        <div class="well">
            <p>Identificador: {{ mascota.patente }}</p>
            <p>Nombre: {{ mascota.nombre }} ({% if mascota.baja %} Deshabilitado {% else %} Habilitado {% endif %})</p>

            <p>Raza: {{ mascota.raza }}</p>
            <p>Especie: {{ mascota.especie }}</p>
            <p>Cliente: {{ mascota.cliente}}</p>

        </div>
        {% else %}

            <p> La mascota no existe </p>

        {% endif %}

    </div>

{% endblock mascotaContenido %}
