{% extends 'GestionDeMascotas/GestionDeMascotas.html' %}

{% block titulo %}
Gestion de Mascotas | Ver Habilitados
{% endblock %}

{% block mascotaTitulo %}
Mascotas Habilitadas
{% endblock %}

{% block mascotaSubtitulo %}
Actualmente disponibles
{% endblock %}

{% block secciones %}
{% include './seccionesSnippet.html' with pagina='verHabilitados' %}
{% endblock %}

{% block mascotaContenido %}

<!-- Listado -->
<div class="mascotaCuerpo" >

    <p> Los siguientes mascotas estan habilitados.  </p>



    {% if mascotas %}
            <div class="table-responsive" id="tabla">
                <table class="table mascotaListado">
                    <thead>
                        <tr>
                            <th id="deshabilitados-nombre"> Nombre </th>
                            <th id="deshabilitados-acciones"> Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mascota in mascotas %}
                            <tr>
                                <td> <p>{{ mascota.cliente }}, {{mascota.especie }}, {{mascota.nombre }} </p></td>
                                <td> <p align="justify">
                                            <a  href="{% url 'mascotas:mascotaVer' mascota.id %}" class="btn btn-xs btn-default">
                                                <i class="glyphicon glyphicon-search"> </i>
                                            </a>
                                            <a href="{% url 'mascotas:mascotaModificar' mascota.id %}" class="btn btn-xs btn-default">
                                                <i class="glyphicon glyphicon-edit"> </i>
                                            </a>
                                            <a href="{% url 'mascotas:mascotaDeshabilitar' mascota.id %}" class="btn btn-xs btn-default">
                                                <i class="glyphicon glyphicon-minus"> </i>
                                            </a>
                                </p> </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    <input name="q" placeholder="ingrese nombre dueño" id="buscador">
    <a  class="btn btn-xs btn-default"> <i class="glyphicon glyphicon-search"> </i> </a>
    {% else %}
        <p> No hay mascota habilitadas</p>
    {% endif %}
    <a  id="mascotaHabilitadosCrear" class="btn btn-sm btn-default" href="{% url 'mascotas:mascotaCrear' %}"> Crear </a>
</div>
{% endblock %}
