{% extends 'GestionDeMascotas/GestionDeMascotas.html' %}

{% block titulo %}
Gestion de Mascotas | Ver Habilitadas
{% endblock %}

{% block tituloSeccion %}
Mascotas Habilitadas
{% endblock %}

{% block secciones %}
{% include './snippets/secciones.html' with pagina='verHabilitados' %}
{% endblock %}

{% block contenido %}
    {% if gestor.numero_items %}

    {% include "./snippets/listado.html" %}

    {% else %}

    <p><strong>No hay mascotas habilitadas</strong></p>

    {% endif %}

    <div class="menu-colapsable" >
        <div class="item-colapsable" >
            <a role="button" href="#mascota-acciones" data-toggle="collapse">
                <i class="glyphicon glyphicon-tasks"></i>
                <span>Acciones</span>
            </a>
            <div class="contenido-colapsable collapse in" id="mascota-acciones">
                <ul class="acciones sinestilo">
    
                    <li><a  class="btn btn-sm btn-default" href="{% url 'mascotas:mascotaCrear' %}">Crear nueva mascota  
                        <i class="fas fa-paw" ></i></a></li>
                    <li><a  class="btn btn-sm btn-default" href="{%url 'mascotas:mascotasListadoExcel' %}">Imprimir listado en Excel     
                        <i class="glyphicon glyphicon-list-alt" ></i></a></li>
                    <li><a  class="btn btn-sm btn-default" href="{%url 'mascotas:mascotasListadoPDF'%}">Imprimir listado en PDF     
                        <i class="glyphicon glyphicon-file" > </i></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %} -->