.etiqueta {
  text-align: left;
  font-weight: bold;
  margin: 0px 0px 5px 0px;
  padding: 0px;
}

.aviso-eliminacion {
  text-align: center;
  text-weight: bold;
  margin: 20px 0px 20px 0px;
}

.item-acciones a {
  margin: 10px 0px 10px 0px;
}
