{% extends "./GestionDePagos.html" %}
{% load static %}
{% block paginaEstilos %}
    {{ block.super }}
    <link href="{% static "vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
{% endblock %}
{% block titulo %}
Listado de pagos
{% endblock %}
{% block pago-titulo %}
{% include "snippets/titulo.html" with titulo="Listado de pagos" %}
{% endblock %}
{% block pago-contenido %}
{% with demasiados=20 %}
<div class="contenedor">
    {% if gestor.numeroErrores %}
    <div class="errores">
        <b>Por favor revise los siguientes errores:</b>
        <ul>
        {% include "snippets/formErrores.html" with form=gestor.erroresValidacion %}
        </ul>
    </div>
    {% endif %}
    <form class="form-inline listado" action="{{ request.path }}" method="GET">
        <div class="form-inline sombreado">
            {% if gestor.filtrar %}
            <div class="row fila boton-filtrado">
            {% block botonFiltrado %}
            <div class="col-xs-12 col-sm-12 col-md-12 columna">
                <a class="boton" href="javascript:;" onclick="alternar('iconoFiltrado', 'filtradoResultados', 'fa-chevron-up', 'fa-chevron-down');">
                    <i id="iconoFiltrado" class="fa fa-chevron-up"></i>Filtrado de pagos
                </a> {% include "snippets/ayuda.html" with id="ayuda-filtrado" content="<p>Opciones de filtrado:</p><ul><li><b>Tipo</b>: Mostrar sólo pagos correspondientes a facturas del tipo seleccionado</li><li><b>Cliente</b>: Filtrado según DNI/CUIT, apellido y nombre de clientes</li><li><b>Desde fecha, Hasta fecha</b>: Mostrar sólo pagos registrados entre el/las fecha/s límite ingresadas</li><li><b>Desde importe, Hasta importe</b>: Mostrar sólo pagos con importe entre el/los límites ingresados</li></ul>" html=True placement="bottom" %}
            </div>
            {% endblock %}
            </div>
            <div class="row fila filtrado" id="filtradoResultados">
            {% block formFiltrado %}
            {% with form=gestor.filtrado %}
            <div class="col-xs-12 col-sm-6 col-md-6 form-group {{ form.cliente.name }} {% if form.cliente.errors %}has-error{% endif %}">
            {{ form.cliente }}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 form-group {{ form.tipo_factura.name }} {% if form.tipo_factura.errors %}has-error{% endif %}">
            {{ form.tipo_factura }}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 form-group {{ form.fecha_desde.name }}">
                <div class="input-group date" id="{{ form.fecha_desde.name|add:"_calendar" }}">
                    {{ form.fecha_desde }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 form-group {{ form.fecha_hasta.name }}">
                <div class="input-group date" id="{{ form.fecha_hasta.name|add:"_calendar" }}">
                    {{ form.fecha_hasta }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 form-group {{ form.importe_desde.name }} {% if form.importe_desde.errors %}has-error{% endif %}">
            {{ form.importe_desde }}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 form-group {{ form.importe_hasta.name }} {% if form.importe_hasta.errors %}has-error{% endif %}">
            {{ form.importe_hasta }}
            </div>
            {% endwith %}
            {% endblock %}
            </div>
            {% endif %}
            {% if gestor.seleccionar %}
            <div class="row fila boton-seleccion">
                {% block botonSeleccion %}
                <div class="col-xs-12 col-sm-12 col-md-12 columna">
                    <a class="boton" href="javascript:;" onclick="alternar('iconoCampos', 'seleccionCampos', 'fa-chevron-up', 'fa-chevron-down');"><i id="iconoCampos" class="fa fa-chevron-down"></i>Seleccion de campos</a>
                    {% include "snippets/ayuda.html" with id="ayuda-seleccion-campos" content="<p>Opciones para ocultar/mostrar campos del listado.</p><p>Es obligatorio que haya algun campo visible</p>" html=True placement="bottom" %}
                </div>
                {% endblock %}
            </div>
            <div class="row hidden fila seleccion" id="seleccionCampos">
                {% block formSeleccion %}
                {% for opcion in gestor.seleccion.seleccionados %}
                <div class="form-group col-xs-6 col-sm-4 col-md-3 seleccionar {{ field.name }}">
                    {{ opcion.tag }}
                    <label for="{{ opcion.id_for_label }}" class="control-label">{{ opcion.choice_label }}</label>
                </div>
                {% endfor %}
                {% endblock %}
            </div>
            {% endif %}
            <div class="row fila submit">
                {% block submit %}
                <div class="col-xs-4 col-sm-3 col-md-2 form-group pull-right submit">
                    <button class="btn btn-sm btn-default" value="" type="submit">Actualizar</button>
                </div>
                {% if gestor.paginar %}
                {{ gestor.paginacion.pagina_actual }}
                <div class="col-xs-8 col-sm-5 col-md-4 form-group pull-right {{ gestor.paginacion.cantidad.name }} {% if gestor.paginacion.cantidad.errors %}has-error{% endif %}">
                    <div class="input-group">
                        <div class="input-group-addon"> {{ gestor.paginacion.cantidad.label }} </div>
                        {{ gestor.paginacion.cantidad }}
                    </div>
                </div>
                {% endif %}
                {% endblock %}
            </div>
        </div>
        {% if gestor.numeroItems %}
        <div class="resumen-resultados">
        {% block resumenResultados %}
        <b>Mostrando {{ gestor.itemsActuales.count }} pagos de {{ gestor.numeroItems }} encontrados. Resultados del {{ gestor.rangoActual.0 }} al {{ gestor.rangoActual.1 }}.</b>
        {% endblock %}
            {% if gestor.itemsActuales.count > demasiados %}<b><a name="iniciodelistado" href="#findelistado">Ir al final del listado.</a></b>{% endif %}
        </div>
        {% if gestor.paginar and gestor.itemsActuales.count > demasiados %}
        <div class="paginacion">
        {{ gestor.paginacion.pagina }}
        </div>
        {% endif %}
        <div class="table-responsive">
            {% if gestor.ordenar %}
            <div class="orden-campos hidden">
                {% for field in gestor.orden.hidden_fields %}
                    {{ field }}
                {% endfor %}
            </div>
            {% endif %}
            <table class="table table-bordered items">
                <colgroup>
                {% for campo in gestor %}
                    <col class="columna {{ campo.nombre }}"/>
                {% endfor %}
                </colgroup>
                <thead>
                {% if gestor.ordenar %}
                    <tr>
                    {% for opcion in gestor.orden.ordenar %}
                        <th><button {{ opcion }}>
                            {{ opcion.choice_label }}
                            {% if opcion.data.selected %}
                            {% if opcion.data.value.0 == "+" %}
                            <i class="fa fa-caret-up"></i>
                            {% else %}
                            <i class="fa fa-caret-down"></i>
                            {% endif %}
                            {% endif %}
                        </button></th>
                    {% endfor %}
                    </tr>
                {% else %}
                    <tr>
                    {% for campo in gestor %}
                        <th><span class="{{ campo.nombre }}">
                            {{ campo.etiqueta }}
                        </span></th>
                    {% endfor %}
                    </tr>
                {% endif %}
                </thead>
                <tbody>
                {% block resultados %}
                {% for pago in gestor.itemsActuales %}
                    {% if perms.GestionDePagos.pago_ver %}
                    <tr onclick="cambiarUbicacion('{% url "pagos:ver" pago.id %}');"  class="activa">
                    {% else %}
                    <tr class="inactiva">
                    {% endif %}
                    {% if gestor.fechaPago.visible %}
                        <td>{{ pago.fecha|date:"d/m/y" }}</td>
                    {% endif %}
                    {% if gestor.fechaFactura.visible %}
                        <td>{{ pago.factura.fecha|date:"d/m/y" }}</td>
                    {% endif %}
                    {% if gestor.importe.visible %}
                        <td>${{ pago.factura.total|floatformat:2 }}</td>
                    {% endif %}
                    {% if gestor.cliente.visible %}
                        <td>{{ pago.factura.cliente.apellidos }} {{ pago.factura.cliente.nombres }}</td>
                    {% endif %}
                    {% if gestor.numeroFactura.visible %}
                        <td>{{ pago.factura.id }}</td>
                    {% endif %}
                    {% if gestor.tipoFactura.visible %}
                        <td>{{ pago.factura.get_tipo_display }}</td>
                    {% endif %}
                    </tr>
                {% endfor %}
                {% endblock %}
                </tbody>
            </table>
        </div>
        {% if gestor.itemsActuales.count > demasiados %}
        <a name="findelistado" href="#iniciodelistado">
            <b>Volver al inicio del listado</b>
        </a>
        {% endif %}
        {% else %}
        <div class="sin-resultados">
        {% block sinResultados %}
        <b>No se encontraron pagos </b>
        {% endblock %}
        </div>
        {% endif %}
        {% if gestor.paginar %}
        <div class="paginacion">
            {{ gestor.paginacion.pagina }}
        </div>
        {% endif %}
    </form>
</div>
{% endwith %}
{% endblock %}
{% block paginaJavascript %}
{{ block.super }}
<script src="{% static "vendor/moment/moment.js" %}"></script>
<script src="{% static "vendor/moment/locale/es.js" %}"></script>
<script src="{% static "vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" %}"></script>
<script type="text/javascript">
    document.onreadystatechange = function(){
        $("#{{ gestor.filtrado.fecha_desde.name|add:"_calendar" }}").datetimepicker({
            locale:"es",
            format: 'L',
        });
        $("#{{ gestor.filtrado.fecha_hasta.name|add:"_calendar" }}").datetimepicker({
            locale:"es",
            format: 'L',
        });
    }
</script>
{% endblock %}
