
            <div class="menu_section">
              <h3 class="menu-subtitulo">General</h3>
              <ul class="nav side-menu">
                <li><i class="glyphicon glyphicon-chevron-down"></i><a> Clientes </a>
                  <ul class="nav child_menu">
                    <li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Cuenta Corriente</a></li>
                    <li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Pagos</a></li>
                  </ul>
                </li>
                <li><i class="glyphicon glyphicon-chevron-down"></i><a> Mascotas</a>
                  <ul class="nav child_menu">
                    <li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Consulta</a></li>
                    <li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Cirugia</a></li>
                  </ul>
                </li>
              </ul>
            </div>

            <div class="menu_section">
              <h3 class="menu-subtitulo">No tan general</h3>
              <ul class="nav side-menu">
                <li><i class="glyphicon glyphicon-chevron-down"></i><a> Administracion </a>
                  <ul class="nav child_menu">
                    <li><i class="glyphicon glyphicon-chevron-right"></i><a href="{% url 'tda-ver-habilitados' %}">Tipos de Atencion</a></li>
                    <li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Tipos de Servicios</a></li>
                    <li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Insumos</a></li>
                  </ul>
                </li>
              </ul>
            </div>
