<div class="menu-colapsable" >
    <div class="item-colapsable" >
        <a role="button" href="#servicio-acciones" data-toggle="collapse">
            <i class="glyphicon glyphicon-tasks"></i>
            <span>Acciones</span>
        </a>
        <div class="contenido-colapsable collapse in" id="servicio-acciones">
            <ul class="acciones sinestilo">

                {% if seccion != 'ver' %}
                    <li><a  class="btn btn-sm btn-default" href="{% url 'servicios:servicioVer'  item.id %}">Ver detalles</a></li>
                {% endif %}

                {% if seccion != 'modificar' %}
                    <li><a  class="btn btn-sm btn-default" href="{% url 'servicios:servicioModificar' item.id %}">Modificar</a></li>
                {% endif %}

                {% if item.baja == False %}
                    <li><a  class="btn btn-sm btn-default" href="{% url 'servicios:servicioDeshabilitar' item.id %}">Deshabilitar</a></li>
                {% else %}
                    <li><a  class="btn btn-sm btn-default" href="{% url 'servicios:servicioHabilitar' item.id %}">Habilitar</a></li>
                    <li><a  class="btn btn-sm btn-default" href="{% url 'servicios:servicioEliminar' item.id %}">Eliminar</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>

