{% extends 'GestionDeServicios/GestionDeServicios.html' %}

{% load static %}

{% block titulo %}
Gestion de Servicios | Crear Servicios
{% endblock %}

{% block tituloSeccion %}
{% if titulo == 1 %}
    {% include "snippets/titulo.html" with titulo="Nuevo Servicio" %}
{% endif %}
{% if titulo == 2 %}
    {% include "snippets/titulo.html" with titulo="Modificar Servicio" %}
{% endif %}
{% endblock %}

{% block servicioTitulo %}
{% if titulo == 1 %}
    Nuevo Servicio
{% endif %}
{% if titulo == 2 %}
    Modificar Servicio
{% endif %}
{% endblock %}

{% block servicioContenido %}
<form class="form-horizontal formulario" action="{{ request.path }}" method="post">

  {% csrf_token %}

  {% if form.errors %}
      <div class="errores">
          <strong>Por favor revise los siguientes errores:</strong>
          <ul>
              {% include "snippets/formErrores.html" %}
          </ul>
      </div>
  {% endif %}

  {% include "./snippets/form.html" with accion="Guardar Datos" %}


</form>
{% endblock %}
