{% extends 'GestionDeServicios/GestionDeServicios.html' %}

{% load static %}

{% block titulo %}
Gestion de Servicios | Crear Servicios
{% endblock %}

{% block servicioTitulo %}
{% if titulo == 1 %}
    Nuevo Servicio
{% endif %}
{% if titulo == 2 %}
    Modificar Servicio
{% endif %}
{% endblock %}

{% block servicioSubtitulo %}
{% if titulo == 1 %}
    Agrega un Servicio al listado
{% endif %}
{% if titulo == 2 %}
    Modifica datos del Servicio
{% endif %}
{% endblock %}

{% block servicioContenido %}
  <div class="servicioCuerpo">
    <form class="form-horizontal formulario" action="" method="post">
      {% csrf_token %}
      {% include './snippetServicios.html' with form=formulario formset=formset accion="Guardar datos" %}
    </form>
  </div>
{% endblock %}
