{% extends "sitioBase.html" %}

{% load static %}

{% block paginaEstilos %}
  {{ block.super }}
  <!-- <link rel="stylesheet" href="{% static 'css/GestionDeServicios.css' %}"> -->
{% endblock paginaEstilos %}

{% block paginaSeccionGeneral %}
  <section>


    {% block secciones %}
    {% endblock %}

    <h4 class="titulo">
      {% block tituloSeccion %}
      {% endblock %}
    </h4>

    {% block servicioContenido %}
    {% endblock servicioContenido %}

  </section>


{% endblock paginaSeccionGeneral %}


{% block footer %}
  <p>Para mas información  de los Servicios haga click aquí<p>
{% endblock footer %}

{% block paginaJavascript %}
{{block.super}}
<script src="{% static 'js/GestionDeServicios.js' %}"></script>
{% endblock paginaJavascript%}
