{% extends "sitioBase.html" %}

{% load static %}

{% block paginaSeccionGeneral %}
  <section>
    {% block secciones %}
    {% include './seccionesSnippet.html' with pagina='default' %}
    {% endblock %}

    <h4 class="titulo">
      {% block servicioTitulo %}
      {% endblock %}
    </h4>
    <div class="linea-titulo"> </div>
    <p class="subtitulo">
      {% block servicioSubtitulo %}
      {% endblock %}
    </p>

    {% block servicioContenido %}
    {% endblock %}
  </section>

{% endblock %}

{% block footer %}
  <p>Para mas información  de los Servicios haga click aquí<p>
{% endblock footer %}

{% block paginaJavascript %}
    {{block.super}}
{% endblock paginaJavascript%}
