<!DOCTYPE html>
<div class="servicio-secciones">

        <a id="servicio-link-habilitados" class="btn btn-sm btn-default {% if pagina == 'servicios:servicioVerHabilitados' %} disabled {% endif %}"  href="{% url 'servicios:servicioVerHabilitados' %}"> Habilitados </a>

        <a id="servicio-link-deshabilitados" class="btn btn-sm btn-default {% if pagina == 'servicios:servicioVerDeshabilitados' %} disabled {% endif %}"  href="{% url 'servicios:servicioVerDeshabilitados' %}"> Deshabilitados </a>

</div>
