{{ formulario.non_field_errors }}

{% for field in form %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="{{ campo.id_for_label }}" class="col-sm-4 control-label etiqueta">
        {{ field.label }}
    </label>
    <div class="col-sm-8">
      {{ field }}
      <div class="campo-errores"  {% if not campo.errors %}style="display:none;"{% endif %}>
        {% for error in campo.errors %} <span  class="help-block">{{ error }}</span> {% endfor %}
      </div>
    </div>
    <span style="display:none;" class="help-block">{{ field.help_text }}</span>
</div>
{% endfor %}

{% block errores %}
  {{ formset.non_form_errors }}
{% endblock errores %}

<div class= "col-sm-offset-4" "col-sm-8">
  <div class="col-xs-12 well" >
    {{formset.management_form}}
    {% for form in formset %}
      {% if forloop.last %}
        <div  id="formset-template">
          {{form}}
          <a class="btn btn-danger btn-sm rm pull-right"><span class="glyphicon glyphicon-trash" title="Deshechar este producto."></span></a>
        </div>
      {% else %}
      <div class="col-xs-9">
        {{form}}
        <!-- <button class="btn btn-danger btn-sm rm" id="manzana" >eliminar</button> -->
      </div>
      {% endif %}
    {% endfor %}
    <div id="buttons">
      <div>
        <a id="button-add" class="btn btn-primary btn-sm pull-right" role="button">
          Agregar Producto &raquo;
        </a>
        <a class="related-widget-wrapper-link add-related pull-right" id="add_id_servicioproducto_set-0-producto" href="/admin/GestionDeProductos/producto/add/?_to_field=id&amp;_popup=1" title="Crea un nuevo producto."><img src="/static/admin/img/icon-addlink.svg" alt="Agregar"></a>
      </div>
      <div>
        <a id="button-remove" class="btn btn-primary btn-sm" role="button">
          Quitar Producto &raquo;
        </a>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <button type="submit" class="btn btn-sm btn-default">{{accion}}</button>
    </div>
  </div>
</div>
