{% extends 'GestionDeServicios/GestionDeServicios.html' %}

{% block titulo %}
Gestion de Servicio | Ver Servicio
{% endblock titulo %}

{% block servicioTitulo %}
Ver Servicio
{% endblock servicioTitulo%}

{% block servicioSubtitulo %}
Muestra datos del servicio
{% endblock servicioSubtitulo %}

{% block servicioContenido %}
    {% include './accionesSnippet.html' with item=servicio seccion='ver' %}

    <div>
      <p> <strong> Identificador: </strong>{{ servicio.id }}</p>
      <p> <strong> Nombres: </strong>{{ servicio.nombre }} </p>
      <p> <strong> Tipo: </strong>{{ servicio.tipo}}</p>
      <p> <strong> Precio Mano De Obra: </strong>{{ servicio.precioManoDeObra}}</p>

    </div>
    
    <div class= "col-sm-offset-11">
      <a><span class="glyphicon glyphicon-arrow-left" type=button onClick="javascript:history.go(-1);" data-toggle="tooltip" data-placement="bottom" title="Volver atrás."></a>
    </div>

{% endblock servicioContenido %}
