{% extends 'GestionDeServicios/GestionDeServicios.html' %}

{% block titulo %}
Gestion de Servicio | Ver Servicio
{% endblock titulo %}

{% block tituloSeccion %}
{% include "snippets/titulo.html" with titulo="Servicio: "|add:servicio.nombre %}
{% endblock %}

{% block servicioTitulo %}
Ver Servicio
{% endblock servicioTitulo%}

{% block servicioContenido %}

    <div class="servicioCuerpo">
        {% if servicio %}
          <div class="col-md-12 well">
            <table class="table listado">
              <p>Identificador: {{ servicio.id }}</p>
              <p>tipo: {{ servicio.tipo }}</p>
              <p>Nombre: {{ servicio.nombre }}</p>
              <p>Tiempo Estimado: {{ servicio.tiempoEstimado }}</p>
              <p>Precio de Mano de Obra: {{ servicio.precioManoDeObra }}</p>
              <thead>
                <th>Productos</th>
              </thead>
              <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Cantidad</th>
                  </tr>
              </thead>
              {% for servicioproducto in servicio.servicio_productos.all %}
              <tr>
                <div class="col-xs-11">
                  <td><p>{{servicioproducto.producto}}</p>
                  </td>
                </div>
                <div class="col-xs-1">
                  <td><p align="justify"><p>{{servicioproducto.cantidad}}</p>
                    </p>
                  </td>
                </div>
              </tr>
              {% endfor %}
            </table>
          </div>

        {% else %}
            <p> El servicio no existe </p>
        {% endif %}
    </div>
    <div class= "col-sm-offset-11">
      <a><span class="glyphicon glyphicon-arrow-left" type=button onClick="javascript:history.go(-1);" data-toggle="tooltip" data-placement="bottom" title="Volver atrás."></a>
    </div>

{% endblock servicioContenido %}
