{% extends 'GestionDeServicios/GestionDeServicios.html' %}

{% block titulo %}
Gestion de Servicios | Ver Deshabilitados
{% endblock %}

{% block servicioTitulo %}
Servicios Deshabilitados
{% endblock %}

{% block servicioSubtitulo %}
Actualmente <strong>no</strong> disponibles
{% endblock %}

{% block secciones %}
{% include './seccionesSnippet.html' with pagina='verDeshabilitados' %}
{% endblock %}

{% block servicioContenido %}
<!-- Listado -->

<div class="servicioCuerpo" >

    <div id="filtrarServiciosDeshabilitados">
        <a role="button" href="#filtrarServicios" data-toggle="collapse">
            <i class="glyphicon glyphicon-tasks"></i>
            <span>Criterios de busqueda</span>
        </a>
        <div id="filtrarServicios" class="collapse in">
            <form class="form-horizontal filtrado" action="" method="GET">
                <!--{% include "formularios/snippet.html" with formulario=form accion="Filtrar" %}-->
                    <div>
                        <form action="" method="GET">
                            <br>
                            <input name="nombre" placeholder="Nombre">
                            <input name="tipo" placeholder="Tipo">

                            <button type="submit" class="" >

                                <!--<a  class="btn btn-xs btn-default"> <i class="glyphicon glyphicon-search"> </i> </a>-->
                                <a  class="wrapper-simple naranja"> <i class="glyphicon glyphicon-search"> </i> </a>

                            </button>
                        </form>
                    </div>
            </form>
        </div>
    </div>
    <br>
    <div class="servicioLineaTitulo"> </div>
  <p> Los siguientes servicios pueden ser habilitados o eliminados.  </p>

    {% if servicios %}
            <div class="table-responsive" id="tabla">
                <table class="table servicioListado">
                  <thead>
                      <tr>
                          <th id="deshabilitados-nombre"> Nombre </th>
                          <th id="deshabilitados-acciones"> Acciones </th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for servicio in servicios %}
                        <tr>
                            <td> <p> {{ servicio.nombre }} </p> </td>
                            <td>
                                <div class="dropdown">
                                    <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle btn-sm" aria-haspopup="true" aria-expanded="false">
                                        Acción <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <li><a  href="{% url 'servicios:servicioVer' servicio.id %}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" title="Ver Servicio">
                                            <i class="glyphicon glyphicon-eye-open"> </i>
                                        </a></li>
                                        <li><a href="{% url 'servicios:servicioModificar' servicio.id %}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" title="Modificar Servicio">
                                            <i class="glyphicon glyphicon-edit"> </i>
                                        </a></li>
                                        <li><a href="{% url 'servicios:servicioHabilitar' servicio.id %}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" title="Habilitar Servicio">
                                            <i class="glyphicon glyphicon-plus"> </i>
                                        </a></li>
                                        <li><a href="{% url 'servicios:servicioEliminar' servicio.id %}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" title="Eliminar Servicio">
                                            <i class="glyphicon glyphicon-remove"> </i>
                                        </a></li>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>

    {% else %}
        <p> No hay servicios deshabilitados</p>
    {% endif %}
</div>
{% endblock %}
