{% extends 'GestionDeServicios/GestionDeServicios.html' %}

{% block titulo %}
Gestion de Servicios | Ver Deshabilitados
{% endblock %}

{% block servicioTitulo %}
Servicios Deshabilitados
{% endblock %}

{% block servicioSubtitulo %}
Actualmente <strong>no</strong> disponibles
{% endblock %}

{% block secciones %}
{% include './seccionesSnippet.html' with pagina='verDeshabilitados' %}
{% endblock %}

{% block servicioContenido %}
<!-- Listado -->
<div class="servicioCuerpo" >
  <form action="" method="GET">
      <input name="nombre" placeholder="Nombre">
      <button type="submit">Filtrar</button>
  </form>
  <p> Los siguientes servicios pueden ser habilitados o eliminados.  </p>
    {% if servicios %}
            <div class="table-responsive" id="tabla">
                <table class="table servicioListado">
                    <thead>
                        <tr>
                            <th id="deshabilitados-nombre">Nombre</th>
                            <th id="deshabilitados-acciones">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for servicio in servicios %}
                            <tr>
                              <td>{{ servicio.nombre }}</td>
                              <td >
	                               <p align="justify">
                                    <a  href="{% url 'servicios:servicioVer' servicio.id %}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" title="Ver este servicio en detalle.">
                                        <i class="glyphicon glyphicon-eye-open"> </i>
                                    </a>
                                    <a href="{% url 'servicios:servicioModificar' servicio.id %}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" title="Modificar este servicio.">
                                        <i class="glyphicon glyphicon-edit"> </i>
                                    </a>
                                    <a href="{% url 'servicios:servicioHabilitar' servicio.id %}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" title="Habilitar este servicio.">
                                        <i class="glyphicon glyphicon-plus"> </i>
                                    </a>
                                    <a href="{% url 'servicios:servicioEliminar' servicio.id %}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" title="Eliminar este servicio permanentemente.">
                                        <i class="glyphicon glyphicon-remove"> </i>
                                    </a>
	                               </p>
                              </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

    {% else %}
        <p> No hay servicios habilitados</p>
    {% endif %}
</div>
{% endblock %}
