{% extends 'GestionDeServicios/GestionDeServicios.html' %}

{% block titulo %}
Gestion de Servicios | Ver Habilitados
{% endblock %}

{% block servicioTitulo %}
Servicios Habilitados
{% endblock %}

{% block secciones %}
{% include './seccionesSnippet.html' with pagina='verHabilitados' %}
{% endblock %}

{% block servicioContenido %}
    {% if gestor.numero_items %}

    {% include "./listado.html" %}

    {% else %}

    <p><strong>No hay servicios habilitados</strong></p>

    {% endif %}

    <div class="menu-colapsable" >
        <div class="item-colapsable" >
            <a role="button" href="#servicio-acciones" data-toggle="collapse">
                <i class="glyphicon glyphicon-tasks"></i>
                <span>Acciones</span>
            </a>
            <div class="contenido-colapsable collapse in" id="servicio-acciones">
                <ul class="acciones sinestilo">

                    <li><a  class="btn btn-sm btn-default" href="{% url 'servicios:servicioCrear' %}">Crear nuevo servicio</a></li>
                    <li><a  class="btn btn-sm btn-default" href="{%url 'servicios:serviciosListadoEXCEL' %}">Imprimir listado en Excel     
                        <i class="glyphicon glyphicon-list-alt" ></i></a></li>
                    <li><a  class="btn btn-sm btn-default" href="{%url 'servicios:serviciosListadoPDF'%}">Imprimir listado en PDF     
                        <i class="glyphicon glyphicon-file" > </i></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
