{% extends 'GestionDePracticas/GestionDePracticas.html' %}

{% block titulo %}
Gestion de Consulta | Crear Consulta
{% endblock %}

{% block practicaTitulo %}
<h3>Nueva Consulta</h3>
{% endblock %}

{% block practicaSubtitulo %}
<p>Agrega una nueva Consulta al listado.</p>
{% endblock %}

{% block practicaContenido %}
    <div class="practicaCuerpo">
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            {% include 'formularios/snippet.html' with campos=formulario accion="Crear" %}

            <!--<button type="submit" class="btn btn-sm btn-default">Crear</button>-->
        </form>
    </div>
{% endblock %}
