{% extends 'GestionDeRubros/GestionDeRubros.html' %}

{% block titulo %}
Gestion de Rubros| Eliminar Rubro
{% endblock %}

{% block rubroTitulo %}
Eliminar Rubro
{% endblock %}

{% block rubroSubtitulo %}
Elimina permanentemente los datos del rubro del sistema
{% endblock %}

{% block rubroContenido %}
<div class="rubroCuerpo">
    <form class="form" action="{% url 'rubros:rubroEliminar' id %}" method="post">
        {% csrf_token %}
		<p class="rubroAvisoEliminacion"> Confirmar eliminacion: </p>
        <button type="submit" class="btn btn-sm btn-default center-block">Eliminar</button>
    </form>
</div>
{% endblock rubroContenido %}
