{% extends 'GestionDeRubros/GestionDeRubros.html' %}
{% load static %}

{% block titulo %}
Gestion de Rubros | Crear Rubros
{% endblock %}

{% block rubroTitulo %}
{% if titulo == 1 %}
    Nuevo Rubro
{% endif %}
{% if titulo == 2 %}
    Modificar Rubro
{% endif %}
{% endblock %}

{% block rubroSubtitulo %}

{% if titulo == 1 %}
    Agrega un Rubro al listado
{% endif %}
{% if titulo == 2 %}
    Modifica datos del Rubro
{% endif %}
{% endblock %}

{% block rubroContenido %}

    <div class="rubroCuerpo">
        <form class="form-horizontal formulario" action="" method="post">

            {% csrf_token %}

            {% include 'formularios/snippet.html' with campos=formulario accion="Guardar Datos" accion2=""%}

        </form>
    </div>

{% endblock %}