{% extends 'GestionDeRubros/GestionDeRubros.html' %}
{% load static %}

{% block paginaEstilos %}
    {{ block.super }}
    <link href="{% static "vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
    <link href="{% static "css/tema-datetimepicker.css" %}" rel="stylesheet">
{% endblock %}

{% block titulo %}
Gestion de Rubros | {{titulo}}
{% endblock %}

{% block rubroTitulo %}
{% if titulo == 1 %}
    Nuevo Rubro
{% endif %}
{% if titulo == 2 %}
    Modificar Rubro
{% endif %}
{% endblock %}

{% block rubroSubtitulo %}
{% if titulo == 1 %}
    Agrega un Rubro al listado
{% endif %}
{% if titulo == 2 %}
    Modifica datos del Rubro
{% endif %}
{% endblock %}

{% block rubroContenido %}

    <div class="rubroCuerpo">
        <form class="form-horizontal formulario" action="" method="post">

            {% csrf_token %}

           {% include 'GestionDeRubros/snippetRubro.html' with campos=formulario accion="Guardar Datos"%}


        </form>
    </div>

{% endblock %}