{% extends 'GestionDeRubros/GestionDeRubros.html' %}

{% block titulo %}
Gestion de Rubros | Ver Rubro
{% endblock %}

{% block rubroTitulo %}
Ver Rubro
{% endblock %}

{% block rubroSubtitulo %}
Muestra datos del rubro
{% endblock %}

{% block rubroContenido %}

    {% include './accionesSnippet.html' with item=rubro seccion='ver' %}

    <div>
        <p> <strong> Identificador: </strong>{{ rubro.id }}</p>
        <p> <strong> Nombres: </strong>{{ rubro.nombre }} </p>
        <p> <strong> Descripcion: </strong>{{ rubro.descripcion}}</p>

    </div>
    
    <div class= "col-sm-offset-11">
      <a><span class="glyphicon glyphicon-arrow-left" type=button onClick="javascript:history.go(-1);" data-toggle="tooltip" data-placement="bottom" title="Volver atrás."></a>
    </div>


{% endblock rubroContenido %}
