{% extends 'GestionDeRubros/GestionDeRubros.html' %}

{% block titulo %}
Gestion de Rubros | Ver Habilitados
{% endblock %}

{% block rubroTitulo %}
Rubros Habilitados
{% endblock %}

{% block secciones %}
{% include './seccionesSnippet.html' with pagina='verHabilitados' %}
{% endblock %}

{% block rubroContenido %}

    {% if gestor.numero_items %}

    {% include "./listado.html" %}

    {% else %}

    <p><strong>No hay rubros habilitados</strong></p>

    {% endif %}

    <div class="menu-colapsable" >
        <div class="item-colapsable" >
            <a role="button" href="#rubro-acciones" data-toggle="collapse">
                <i class="glyphicon glyphicon-tasks"></i>
                <span>Acciones</span>
            </a>
            <div class="contenido-colapsable collapse in" id="rubro-acciones">
                <ul class="acciones sinestilo">

                    <li><a  class="btn btn-sm btn-default" href="{% url 'rubros:rubroCrear' %}">Crear nuevo rubro</a></li>
                    <li><a  class="btn btn-sm btn-default" href="{%url 'rubros:rubrosListadoEXCEL' %}">Imprimir listado en Excel     
                        <i class="glyphicon glyphicon-list-alt" ></i></a></li>
                    <li><a  class="btn btn-sm btn-default" href="{%url 'rubros:rubrosListadoPDF'%}">Imprimir listado en PDF     
                        <i class="glyphicon glyphicon-file" > </i></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
