{% extends 'GestionDeRubros/GestionDeRubros.html' %}

{% block titulo %}
Gestion de Rubros | Ver Habilitados
{% endblock %}

{% block rubroTitulo %}
Rubros Habilitados
{% endblock %}

{% block rubroSubtitulo %}
<!--Actualmente disponibles-->
{% endblock %}

{% block secciones %}
{% include './seccionesSnippet.html' with pagina='verHabilitados' %}
{% endblock %}

{% block rubroContenido %}

{% load navigation_filters %}

<!-- Listado -->
<div class="rubroCuerpo" >

    <!--<p> Los siguientes rubros estan habilitados.  </p>-->

    <div id="filtrarRubrosHabilitados">
        <a role="button" href="#filtrarRubros" data-toggle="collapse">
            <i class="glyphicon glyphicon-tasks"></i>
            <span>Criterios de busqueda</span>
        </a>
        <div id="filtrarRubros" class="collapse in">
            <form class="form-horizontal filtrado" action="" method="GET">
                <!--{% include "formularios/snippet.html" with formulario=form accion="Filtrar" %}-->
                    <div>
                        <form action="" method="GET">
                            <br>
                            <input name="nombre" placeholder="Nombre">

                            <button type="submit" class="" data-toggle="tooltip" data-placement="bottom" title="Buscar">

                                <!--<a  class="btn btn-xs btn-default"> <i class="glyphicon glyphicon-search"> </i> </a>-->
                                <a  class="wrapper-simple naranja"> <i class="glyphicon glyphicon-search"> </i> </a>

                            </button>
                        </form>
                    </div>
            </form>
        </div>
    </div>
    <br>
    <div class="rubroLineaTitulo"> </div>

    <br>

    {% if rubros %}
            <div class="table-responsive" id="tabla">
                <table class="table rubroListado">
                    <thead>
                        <tr>
                            <th id="deshabilitados-nombre"> Nombre </th>
                            <th id="deshabilitados-descripcion"> Descripcion </th>
                            <th id="deshabilitados-acciones"> Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rubro in rubros %}
                            <tr>
                                <td> <p>{{rubro.nombre }}</p></td>
                                <td> <p>{{rubro.descripcion|truncatechars:40 }}</p></td>
                                <td> <p align="justify">
                                        <a  href="{% url 'rubros:rubroVer' rubro.id %}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" title="Ver Rubro">
                                            <i class="glyphicon glyphicon-eye-open"> </i>
                                        </a>
                                        <a href="{% url 'rubros:rubroModificar' rubro.id %}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" title="Modificar Rubro">
                                            <i class="glyphicon glyphicon-edit"> </i>
                                        </a>
                                        <a href="{% url 'rubros:rubroDeshabilitar' rubro.id%}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" title="Deshabilitar Rubro">
                                            <i class="glyphicon glyphicon-minus"> </i>
                                        </a>
                                </p> </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

    {% else %}

        <p> No hay rubros habilitados</p>

    {% endif %}
    <div>
         <a  id ="rubroHabilitadosCrear" class="btn btn-sm btn-default" href="{% url 'rubros:rubroCrear' %}"> Crear </a>
    </div>

    <div align="center">
        <ul class="pagination pagination-sm">
            {% if rubros.has_previous %}
                <li><a href="?page={{ rubros.previous_page_number }}" class="btn btnpages">
                    <i class="glyphicon glyphicon-chevron-left"></i></a></li>
            {% endif %}

            {% for page in rubros.paginator.page_range|page_filter:rubros %}
                <li class="{% if rubros.number == page %}active{% endif %}">
                    <a class="btn btnpages" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}

            {% if rubros.has_next %}
                <li>
                    <a href="?page={{ rubros.next_page_number }}" class="btn btnpages">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}
