
      <table class="table tabla-menu-dch">
          <thead>
              <tr> <th class="menu-subtitulo"><span>Acciones</span><span class="glyphicon glyphicon-chevron-up icono-thead"></span></th> </tr>
          </thead>
          <tbody>
            <tr> <td><a href="{% url 'logout' %}">Cerrar Sesion</a></td> </tr>
            <tr> <td><a href="#">Link</a></td> </tr>
            <tr> <td><a href="#">Link</a></td> </tr>
            <tr> <td><a href="#">Link</a></td> </tr>
          </tbody>
      </table>

      <table class="table tabla-menu-dch">
          <thead>
              <tr> <th class="menu-subtitulo"><span>Relacionados</span><span class="glyphicon glyphicon-chevron-up icono-thead"></span></th> </tr>
          </thead>
          <tbody>
            <tr> <td><a href="#">Funcionalidad</a></td> </tr>
            <tr> <td><a href="#">Funcionalidad</a></td> </tr>
          </tbody>
      </table>
