
            <div class="menu_section">
              <h1 class="menu-subtitulo"><a>General</a></h1>
              <ul class="nav side-menu">

                <li><i class="glyphicon glyphicon-chevron-down"></i><a href="#"> Clientes </a>
    							<ul class="nav child_menu">
    								<li><i class="glyphicon glyphicon-chevron-right"></i><a href="{% url 'clientes:cliente' %}">Inicio</a></li>
    								<li><i class="glyphicon glyphicon-chevron-right"></i><a href="{% url 'clientes:clienteCrear' %}">Crear Cliente</a></li>
    								<li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Cuenta Corriente</a></li>
    								<li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Pagos</a></li>
    							</ul>
    						</li>
    						</li>
                <li><i class="glyphicon glyphicon-chevron-down"></i><a href="#"> Mascotas </a>
    							<ul class="nav child_menu">
    								<li><i class="glyphicon glyphicon-chevron-right"></i><a href="{% url 'mascotas:mascota' %}">Inicio</a></li>
    								<li><i class="glyphicon glyphicon-chevron-right"></i><a href="{% url 'mascotas:alta' %}">Crear Mascota </a></li>
    								<li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Baja</a></li>
    								<li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Modificacion</a></li>
    							</ul>
    						</li>

                <li><i class="glyphicon glyphicon-chevron-down"></i><a href="#"> Insumos </a>
    							<ul class="nav child_menu">
    								<li><i class="glyphicon glyphicon-chevron-right"></i><a href="{% url 'insumos:insumoVerHabilitados' %}">Inicio</a></li>
    								<li><i class="glyphicon glyphicon-chevron-right"></i><a href="{% url 'insumos:insumoCrear' %}">Crear Insumo</a></li>
    								<li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Baja</a></li>
    								<li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Modificacion</a></li>
    							</ul>
    						</li>
                <li><i class="glyphicon glyphicon-chevron-down"></i><a href="#"> Servicios </a>
    							<ul class="nav child_menu">
    								<li><i class="glyphicon glyphicon-chevron-right"></i><a href="{% url 'servicios:servicio' %}">Inicio</a></li>
    								<li><i class="glyphicon glyphicon-chevron-right"></i><a href="{% url 'servicios:alta' %}">Crear Servicio</a></li>
    								<li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Baja</a></li>
    								<li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Modificacion</a></li>
    							</ul>
                <li><i class="glyphicon glyphicon-chevron-right"></i><a href="{% url 'tiposDeAtencion:tipoDeAtencionVerHabilitados' %}">Tipos de Atencion</a>
                </li>
              </ul>
            </div>
        <!--
              <ul class="nav side-menu">
                <li><i class="glyphicon glyphicon-chevron-down"></i><a> Clientes </a>
                  <ul class="nav child_menu">
                    <li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Cuenta Corriente</a></li>
                    <li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Pagos</a></li>
                  </ul>
                </li>
                <li><i class="glyphicon glyphicon-chevron-down"></i><a> Mascotas</a>
                  <ul class="nav child_menu">
                    <li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Consulta</a></li>
                    <li><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Cirugia</a></li>
                  </ul>
                </li>

              </ul>
            </div>
        -->
