{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}">
</head>

<body class="{% block body_class %}nav-md {% endblock body_class %}">
  <div class="container-fluid">
    <div class="row" style="height: 100px; background-color: green;">
      <header>
        <h1>Veterinaria</h1>
      </header>
    </div>

    <div class="row" style="height: 500px; background-color: lightblue;">
      <nav class="col-3">
        <ul>
        {% block sidebar %}
          <li><a href="http://127.0.0.1:8000/GestionDeClientes" target="_blank">Clientes</a></li>
          <li><a href="http://127.0.0.1:8000/GestionDeInsumos" target="_blank">Insumos</a></li>
          <li><a href="http://127.0.0.1:8000/GestionDeServicios" target="_blank">Servicios</a></li>
          <li>cuatro</li>
          <li>cinco</li>
          {% endblock %}
        </ul>
      </nav>
      <section class="col-7" style="background-color:lightgreen;">
  {% block content %}
  {% endblock %}
      </section>
      <nav class="col-2">nav2</nav>
    </div>
    <div class="row" style="background-color:blue;">
      <footer>{% block footer %}{% endblock %}</footer>
    </div>
  </div>
  <script src="{% static 'jquery/jquery-3.3.1.min.js'%}" type="text/javascript"></script>
  <script src="{% static 'popper/popper.min.js'%}" type="text/javascript"></script>
  <script src="{% static 'bootstrap/js/bootstrap.js'%}" type="text/javascript"></script>
  {% block javascripts %}
  {% endblock %}
</body>

</html>
