
<div class="productoItemAcciones">

        {% if seccion != 'ver' %}
        <a  class="btn btn-sm btn-default" href="{% url 'productos:productoVer' item.id %}">Ver</a>
        {% endif %}

        {% if seccion != 'modificar' %}
        <a  class="btn btn-sm btn-default" href="{% url 'productos:productoModificar' item.id %}">Modificar</a>
        {% endif %}

        {% if item.baja == False %}
            <a  class="btn btn-sm btn-default" href="{% url 'productos:productoDeshabilitar' item.id %}">Deshabilitar</a>
        {% else %}
            <a  class="btn btn-sm btn-default" href="{% url 'productos:productoHabilitar' item.id %}">Habilitar</a>
        {% endif %}

</div>
