{% extends 'GestionDeProductos/GestionDeProductos.html' %}

{% block titulo %}
Gestion de Productos | Eliminar Producto
{% endblock %}

{% block productoTitulo %}
Eliminar Producto
{% endblock %}

{% block productoSubtitulo %}
Elimina permanentemente los datos del producto del sistema
{% endblock %}

{% block productoContenido %}
<div class="productoCuerpo">
    <form class="form" action="{% url 'productoEliminar' id %}" method="post">
        {% csrf_token %}
		<p class="productoAvisoEliminacion"> Confirmar eliminacion: </p>
        <button type="submit" class="btn btn-sm btn-default center-block">Eliminar</button>
    </form>
</div>

{% endblock productoContenido %}
