{% extends 'GestionDeProductos/GestionDeProductos.html' %}

{% block paginaEstilos %}
    {{ block.super }}
    {{formulario.media.css}}

{% endblock %}

{% block titulo %}
Gestion de Productos | Crear Producto
{% endblock %}

{% block productoTitulo %}
{% if titulo == 1 %}
    Nuevo Producto
{% endif %}
{% if titulo == 2 %}
    Modificar Producto
{% endif %}
{% endblock %}

{% block productoSubtitulo %}
{% if titulo == 1 %}
    Agrega un Producto al listado
{% endif %}
{% if titulo == 2 %}
    Modifica datos del Producto
{% endif %}
{% endblock %}

{% block productoContenido %}

    <div class="productoCuerpo">
        <form class="form-horizontal formulario" action="" method="post">

            {% csrf_token %}

            {% include 'formularios/snippet.html' with campos=formulario accion="Guardar datos" %}

        </form>
    </div>

{% endblock %}


{% block paginaJavascript %}
    {{ block.super }}
    {{formulario.media.js}}
{% endblock %}
