{% extends 'GestionDeProductos/GestionDeProductos.html' %}

{% block titulo %}
Gestion de Productos | Crear Producto
{% endblock %}

{% block productoTitulo %}
Nuevo Producto
{% endblock %}

{% block productoSubtitulo %}
Agrega un Producto al listado
{% endblock %}

{% block paginaEstilos %}
{{ block.super }}
{{formulario.media.css}}
{% endblock %}

{% block paginaJavascript %}
{{ block.super }}
{{formulario.media.js}}
{% endblock %}

{% block productoContenido %}

    <div class="productoCuerpo">
        <form class="form-horizontal formulario" action="" method="post">

            {% csrf_token %}

            {% include 'formularios/snippet.html' with campos=formulario accion="Guardar" %}

        </form>
    </div>

{% endblock %}

