{% extends "sitioBase.html" %}
{% load static %}

{% block paginaEstilos %}
    {{ block.super }}
        <link rel="stylesheet" href="{% static 'css/GestionDeProductos.css' %}">
{% endblock paginaEstilos %}

{% block paginaSeccionGeneral %}
    <section>
        {% block secciones %}

        {% endblock %}

        <h4 class="productoTitulo">
            {% block productoTitulo %}
            {% endblock productoTitulo %}
        </h4>

        <div class="productoLineaTitulo"> </div>

        <p class="productoSubtitulo">
            {% block productoSubtitulo %}
            {% endblock productoSubtitulo %}
        </p>

    {% block productoContenido %}
    {% endblock productoContenido %}
    </section>
{% endblock paginaSeccionGeneral %}