{% extends "sitioBase.html" %}
{% load static %}

{% block paginaSeccionGeneral %}
  <section>

      {% block secciones %}
      {% endblock %}

      <h4 class="titulo">
        {% block tituloSeccion %}
        {% endblock %}
      </h4>
      </p>

      {% block contenido %}
      {% endblock contenido %}
      
  </section>
{% endblock paginaSeccionGeneral %}


{% block footer %}
  <p>Para mas información  de los Productos haga click aquí<p>
{% endblock footer %}

{% block paginaJavascript %}
    {{block.super}}
{% endblock paginaJavascript %}