<!DOCTYPE html>
<div class="productoSecciones">

        <a id="productoLinkHabilitados" class="btn btn-sm btn-default {% if pagina == 'productos:productoVerHabilitados' %} disabled {% endif %}"  href="{% url 'productos:productoVerHabilitados' %}"> Habilitados </a>

        <a id="productoLinkDeshabilitados" class="btn btn-sm btn-default {% if pagina == 'productos:productoVerDeshabilitados' %} disabled {% endif %}"  href="{% url 'productos:productoVerDeshabilitados' %}"> Deshabilitados </a>

</div>
