{% extends 'GestionDeProductos/GestionDeProductos.html' %}

{% block titulo %}
Gestion de Productos | Ver Producto
{% endblock %}

{% block secciones %}
    {% include './seccionesSnippet.html' with pagina='default' %}
{% endblock %}

{% block productoTitulo %}
Ver Producto
{% endblock %}

{% block productoSubtitulo %}
Muestra datos del producto
{% endblock %}

{% block productoContenido %}

    {% include './accionesSnippet.html' with item=producto seccion='ver' %}

    <div class="productoCuerpo">

        {% if producto %}
        <div class="well">
            <p>Identificador: {{ producto.id }} </p>
            <p>Nombre: {{ producto.nombre }} ({% if producto.baja %} Deshabilitado {% else %} Habilitado {% endif %}) </p>
            <p>Marca: {{ producto.marca }}</p>
            <p>Stock: {{ producto.stock }}</p>
            <p>Forma De Presentacion: {{ producto.formaDePresentacion }}</p>
            <p>Precio Por Unidad: $ {{ producto.precioPorUnidad }}</p>
            <p>Precio De Compra: $ {{ producto.precioDeCompra}}</p>
            <p>Rubro: {{ producto.rubro }}</p>
            <p>Descripcion: {{ producto.descripcion }}</p>
        </div>
        {% else %}

            <p> El producto no existe </p>

        {% endif %}

    </div>
    <div class= "col-sm-offset-11">
      <a><span class="glyphicon glyphicon-arrow-left" type=button onClick="javascript:history.go(-1);" data-toggle="tooltip" data-placement="bottom" title="Volver atrás."></a>
    </div>


{% endblock productoContenido %}
