{% extends 'GestionDeProductos/GestionDeProductos.html' %}

{% block titulo %}
Gestion de Productos | Ver Deshabilitados
{% endblock %}

{% block tituloSeccion %}
Productos Deshabilitados
{% endblock %}

{% block subtitulo %}
Actualmente no disponibles
{% endblock %}

{% block secciones %}
{% include './snippets/secciones.html' with pagina='verDeshabilitados' %}
{% endblock %}

{% block contenido %}

    {% if gestor.numero_items %}

        {% include "./snippets/listado.html" %}

    {% else %}

        <p><strong>No hay productos deshabilitados</strong></p>

    {% endif %}

    <div class="menu-colapsable" >
        <div class="item-colapsable" >
            <a role="button" href="#producto-acciones" data-toggle="collapse">
                <i class="glyphicon glyphicon-tasks"></i>
                <span>Acciones</span>
            </a>
            <div class="contenido-colapsable collapse in" id="producto-acciones">
                <ul class="acciones sinestilo">
    
                    <li><a  class="btn btn-sm btn-default" href="{% url 'productos:productosListadoEXCEL' %}">Imprimir listado en Excel     
                        <i class="glyphicon glyphicon-list-alt" ></i></a></li>   
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

