{% extends 'GestionDeProductos/GestionDeProductos.html' %}

{% block titulo %}
Gestion de Productos | Ver Deshabilitados
{% endblock %}

{% block tituloSeccion %}
Productos Deshabilitados
{% endblock %}

{% block subtitulo %}
Actualmente no disponibles
{% endblock %}

{% block secciones %}
{% include './snippets/secciones.html' with pagina='verDeshabilitados' %}
{% endblock %}

{% block contenido %}

    {% if gestor.numero_items %}

        {% include "./snippets/listado.html" %}

    {% else %}

        <p><strong>No hay productos deshabilitados</strong></p>

    {% endif %}

{% endblock %}

