{% extends 'GestionDeProductos/GestionDeProductos.html' %}

{% block titulo %}
Gestion de Productos | Ver Habilitados
{% endblock %}

{% block productoTitulo %}
Productos Habilitados
{% endblock %}

{% block productoSubtitulo %}
Actualmente disponibles
{% endblock %}

{% block secciones %}
{% include './seccionesSnippet.html' with pagina='verHabilitados' %}
{% endblock %}

{% block productoContenido %}

<!-- Listado -->
<div class="productoCuerpo" >
    <p> Los siguientes Productos estan habilitados.  </p>

    <form action="" method="GET">
        <input name="nombre" placeholder="Nombre">
        <input name="marca" placeholder="Marca">
        <input name="formaDePresentacion" placeholder="Forma De Presentacion">
        <input name="precioPorUnidad" placeholder="Precio Por Unidad">
        <!--<button type="submit">GO</button>-->
        <button type="submit">
            <i class="glyphicon glyphicon-search" data-toggle="tooltip" data-placement="bottom" title="Buscar"> </i>
        </button>
    </form>

    {% if productos %}
        <div class="table-responsive" id="tabla">
            <table class="table productoListado">
                <thead>
                    <tr>
                        <th id="deshabilitados-nombre"> Productos </th>
                        <th id="deshabilitados-acciones"> Acciones </th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                        <tr>
                            <td> <p> {{ producto.nombre }} </p></td>
                            <td> <p align="justify">
                                    <a  href="{% url 'productos:productoVer' producto.id %}" class="btn btn-xs btn-default">
                                        <i class="glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="bottom" title="Ver Producto"></i>
                                    </a>
                                    <a href="{% url 'productos:productoModificar' producto.id %}" class="btn btn-xs btn-default">
                                        <i class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="bottom" title="Modificar Producto"></i>
                                    </a>
                                    <a href="{% url 'productos:productoDeshabilitar' producto.id %}" class="btn btn-xs btn-default">
                                        <i class="glyphicon glyphicon-minus" data-toggle="tooltip" data-placement="bottom" title="Deshabilitar Producto"></i>
                                    </a>
                            </p> </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}

        <p> No hay Productos habilitados </p>

    {% endif %}

    <a  id ="productoHabilitadosCrear" class="btn btn-sm btn-default" href="{% url 'productos:productoCrear' %}"> Nuevo Producto </a>

</div>

{% endblock %}
