{% extends 'GestionDeProductos/GestionDeProductos.html' %}

{% block titulo %}
Gestion de Productos | Ver Habilitados
{% endblock %}

{% block productoTitulo %}
Productos Habilitados
{% endblock %}

{% block productoSubtitulo %}
Actualmente disponibles
{% endblock %}

{% block secciones %}
{% include './seccionesSnippet.html' with pagina='verHabilitados' %}
{% endblock %}

{% block productoContenido %}

<!-- Listado -->
<div class="productoCuerpo" >

    <p> Los siguientes Productos estan habilitados.  </p>

     <form action="" method="GET">
         <input name="marca" placeholder="Marca">
         <input name="nombre" placeholder="Nombre">
         <input name="formaDePresentacion" placeholder="Forma de Presentacion">
         <input name="precioPorUnidad" placeholder="precioPorUnidad">


        <button type="submit">
            <a  class="btn btn-xs btn-default"> <i class="glyphicon glyphicon-search"> </i> </a>
        </button>
    </form>

    {% if productos %}
        <div class="table-responsive" id="tabla">
            <table class="table productoListado">
                <thead>
                    <tr>
                        <th id="deshabilitados-nombre">Nombre</th>
                        <th id="deshabilitados-acciones">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                        <tr>
                            <td> <p> {{ producto.nombre }} </p></td>
                            <td> <p align="justify">
                                    <a  href="{% url 'productos:productoVer' producto.id %}" class="btn btn-xs btn-default">
                                        <i class="glyphicon glyphicon-eye-open"> </i>
                                    </a>
                                    <a href="{% url 'productos:productoModificar' producto.id %}" class="btn btn-xs btn-default">
                                        <i class="glyphicon glyphicon-edit"> </i>
                                    </a>
                                    <a href="{% url 'productos:productoDeshabilitar' producto.id %}" class="btn btn-xs btn-default">
                                        <i class="glyphicon glyphicon-minus"> </i>
                                    </a>
                            </p> </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}

        <p> No hay Productos habilitados </p>

    {% endif %}

    <a  id ="productoHabilitadosCrear" class="btn btn-sm btn-default" href="{% url 'productos:productoCrear' %}"> Crear </a>

</div>

{% endblock %}
