{% extends 'GestionDePracticas/GestionDePracticas.html' %}
{% load static %}

{% block titulo %}
{{ form.accion|capfirst }} {{ tipo }}
{% endblock %}

{% block practica-titulo %}
{{ form.accion|capfirst }} {{ tipo }}
{% endblock %}

{% block practica-contenido %}

    {% include "snippets/errores.html" %}

    <form class="form-horizontal formulario" action="{{ request.path }}" method="POST">

        {% csrf_token %}

        {% if form.errors %}
        <div class="errores">
            <strong>Por favor revise los siguientes errores:</strong>
            <ul>
                {% include 'snippets/formErrores.html' %}
            </ul>
        </div>
        {% endif %}

        {% include "snippets/form.html" %}

    </form>

{% endblock %}
