{% extends 'GestionDePracticas/GestionDePracticas.html' %}

{% block titulo %}
Gestion de Prácticas | Crear Práctica
{% endblock %}

{% block practicaTitulo %}
Nueva Práctica
{% endblock %}

{% block practicaSubtitulo %}
Agrega una Práctica al listado
{% endblock %}

{% block practicaContenido %}
    <div class="practicaCuerpo">
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            {% include 'formularios/snippet.html' with campos=formulario accion="Crear" %}

            <!--<button type="submit" class="btn btn-sm btn-default">Crear</button>-->
        </form>
    </div>
{% endblock %}
