{% extends 'GestionDePracticas/GestionDePracticas.html' %}
{% load static %}

{% block titulo %}
Crear {{ tipo }}
{% endblock %}

{% block practica-titulo %}
Crear {{ tipo }}
{% endblock %}

{% block paginaEstilos %}
{{formPractica.media.css}}
{{ block.super }}
{% endblock %}


{% block practica-contenido %}

    {% include "snippets/errores.html" %}

    {% if acciones %}
    <form id="form-creacion" class="form-horizontal formulario" action="{{ request.path }}" method="POST" onsubmit="validar(event);">

            {% csrf_token %}

            <div id="form-creacion-errores">
                {% if formPractica.errors or formsetServicios.total_error_count %}
                    <div class="errores">
                        <strong>Por favor revise los siguientes errores:</strong>
                        <ul>
                            {% include 'snippets/formErrores.html' with form=formPractica %}
                            {% include 'snippets/formsetErrores.html' with formset=formsetServicios %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            {% include "snippets/form.html" with form=formPractica accion=None %}

            <div class="servicios">
                <div class="row servicios">
                    <label for="formset-servicios" class="col-sm-4 control-label etiqueta">
                        Servicios
                    </label>
                    <div class="col-sm-8" id="formset-servicios">
                        {% include "snippets/formset.html" with formset=formsetServicios titulo="" %}
                    </div>
                </div>
            </div>

            <div class="btn-toolbar center-block">
                {% block acciones %}
                    <div class="btn-group creacion">
                    {{ acciones.acciones }}
                    </div>
                {% endblock %}
            </div>

    </form>
    {% endif %}

{% endblock %}

{% block paginaJavascript %}
    {{ block.super }}
    <script type="text/javascript">
        var validadores = [
            {
                "validador" : validarFormset,
                "argumentos" : {
                    "comparador" : compararServicios,
                    "formset_id" : "{{ formsetServicios.prefix }}-formset",
                    "errores" : document.getElementById("form-creacion-errores"),
                }
            }
        ]

        document.onreadystatechange = function(){
            var servicios = document.getElementById('{{ formsetServicios.prefix }}-formset');
            actualizarEliminar(servicios);
        }
    </script>
{{formPractica.media.js}}
{% endblock %}
