{% extends 'GestionDePracticas/GestionDePracticas.html' %}
{% load practicaUrl %}

{% block titulo %}
Practicas de tipo: {{ tipo }}
{% endblock %}

{% block practica-titulo %}
Practicas de tipo: {{ tipo }}
{% endblock %}

{% block practica-contenido %}

    {% include "./snippets/filtrado.html" with form=filtrado accion="Filtrar" %}

    {% if practicas %}


        <div class="table-responsive" id="tabla">
            <table class="table listado">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cliente</th>
                        <th>Estado</th>
                        <th>Creacion</th>
                        <th>Ultima actualizacion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for practica in practicas %}
                        <tr>
                            <td><a href="{% practicaUrl tipo "ver" id=practica.id %}">{{ practica.id }}</a></td>
                            <td>{{ practica.cliente }}</td>
                            <td>{{ practica.estado }}</td>
                            <td>{{ practica.estados.inicial.marca|date:"d/m/y" }}</td>
                            <td>{{ practica.estado.marca|date:"d/m/y" }}</td>
                            <td>
                                {% for accion in acciones %}
                                    {% if accion in practica.estado.accionesPosibles %}
                                        <a href="{% practicaUrl tipo accion.name id=practica.id %}">{{ accion.name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="paginas">

            {% for item in paginas %}
                {% if pagina != item %}
                    <a class="numero-pagina" href="{% practicaUrl tipo "listar" pagina=item %}">{{ item }}</a>
                {% else %}
                    <span class="numero-pagina actual">{{ item }}</span>
                {% endif %}
            {% endfor %}

        </div>

    {% else %}

        <p>No hay practicas que mostrar</p>

    {% endif %}

{% endblock %}
