{% extends 'GestionDePracticas/GestionDePracticas.html' %}

{% block secciones %}
{% if tipo == 'consulta' %}
    {% include './snippets/seccionesCo.html' with pagina='default' %}
{% endif%}
{% if tipo == 'cirugia'%}
    {% include './snippets/seccionesCi.html' with pagina='default' %}
{% endif%}
{% endblock %}

{% block titulo %}
{{ tipo|capfirst }}s
    <div class="secciones">

        <a id="mascotaAyuda" class="btn btn-sm btn-default" href="{% url 'mascotas:ayudaMascota' %}"  data-toggle="tooltip" data-placement="bottom" title="Ayuda"> <i class="glyphicon glyphicon-book"> </i></a>
    
    </div>
{% endblock %}

{% block practica-titulo %}
{{ tipo|capfirst }}s
{% endblock %}
{% block practica-subtitulo %}
Cantidad de {{ tipo }}s al dia de la fecha: {{ gestor.numero_items }}
{% endblock %}


{% block practica-contenido %}



    <form class="form-inline listado" action="{{ request.get_full_path }}" method="GET">

        <div class="hidden orden-listado">
            {% for field in gestor.formOrden %}
                {{ field }}
            {% endfor %}
            {{ gestor.formPagina.desde }}
        </div>

        <div class="sombreado" id="filtrar-practicas">
            {{ gestor.formFiltros.cliente }}
            {{ gestor.formFiltros.mascota }}
            {{ gestor.formFiltros.estado }}
            {{ gestor.formPagina.resultados }}
            <button class="btn btn-default filtrar" type="submit">Filtrar</button>
        </div>

    {% if gestor.numero_items %}
        <table class="table table-bordered table-responsive items">
            <colgroup>
                <col class="columna{% if gestor.encabezado.orden_id.activa %} activa{% endif %}"/>
                <col class="columna{% if gestor.encabezado.orden_cliente.activa %} activa{% endif %}"/>
                <col class="columna{% if gestor.encabezado.orden_mascota.activa %} activa{% endif %}"/>
                <col class="columna{% if gestor.encabezado.orden_actualizacion.activa %} activa{% endif %}"/>
            </colgroup>
            <thead>
                <tr>
                    <th>{% include "snippets/encabezado.html" with columna=gestor.encabezado.orden_id %}</th>
                    <th>{% include "snippets/encabezado.html" with columna=gestor.encabezado.orden_cliente %}</th>
                    <th>{% include "snippets/encabezado.html" with columna=gestor.encabezado.orden_mascota %}</th>
                    <th>{% include "snippets/encabezado.html" with columna=gestor.encabezado.orden_actualizacion %}</th>
                </tr>
            </thead>
            <tbody>
                {% for practica in gestor.items_actuales %}
                {% with path="practicas:"|add:tipo|add:":ver:practica" %}

                    <tr>
                        <td>
                            <a href="{% url path id=practica.id %}">
                                {{ practica.get_tipo_display }} nº {{ practica.id }}: {{ practica.estado }}
                            </a>
                        </td>
                        <td>{{ practica.cliente }}</td>
                        {% if practica.mascota %}
                        <td>{{ practica.mascota.nombre }} ({{ practica.mascota.patente }})</td>
                        {% else %}
                        <td>Ninguna</td>
                        {% endif %}
                        <td>{{ practica.estado.marca|date:"d/m/y" }}</td>
                    </tr>

                {% endwith %}
                {% endfor %}
            </tbody>
        </table>

        <div>
        {% include "snippets/paginacion.html" with links=gestor.paginas%}
        </div>

    </form>

    <div class="menu-colapsable" >
        <div class="item-colapsable" >
            <a role="button" href="#practicas-acciones" data-toggle="collapse">
                <i class="glyphicon glyphicon-tasks"></i>
                <span>Acciones</span>
            </a>
            <div class="contenido-colapsable collapse in" id="practicas-acciones">
                <ul class="acciones sinestilo">
                    {% with path="practicas:"|add:tipo|add:":crear:practica" %}
                    <li><a class="btn btn-sm btn-default" href="{% url path %}">Crear {{ tipo }}</a></li>
                    {% endwith %}
                    {% with path="practicas:"|add:tipo|add:":buscar" %}
                    <li><a class="btn btn-sm btn-default" href="{% url path %}">Buscar {{ tipo }}</a></li>
                    {% endwith %}
                </ul>
            </div>
        </div>
    </div>

    {% else %}

        <p><strong>No hay practicas que mostrar</strong></p>

    {% endif %}

{% endblock %}
