{% extends 'GestionDePracticas/GestionDePracticas.html' %}
{% load static %}

{% block titulo %}
Observaciones de realizacion de {{ tipo }}
{% endblock %}

{% block practica-titulo %}
Observaciones
{% endblock %}

{% block practica-subtitulo %}
Registro de datos clinicos relacionados
{% endblock %}

{% block practica-contenido %}

    {% include "snippets/errores.html" %}

    <form id="form-observaciones" class="form-horizontal formulario" action="{{ request.path }}" method="POST" onsubmit="validar(event);">

            {% csrf_token %}

            <div id="form-observaciones-errores">
                {% if generales.errors or servicios.total_error_count %}
                    <div class="errores">
                        <strong>Por favor revise los siguientes errores:</strong>
                        <ul>
                            {% include 'snippets/formErrores.html' with form=generales %}
                            {% include 'snippets/formsetErrores.html' with formset=servicios %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            {{ servicios.management_form }}

            <div class="cuadro">
                <div class="cuadro-titulo">
                    Observaciones generales:
                </div>
                <div class="cuadro-contenido">
                    {% include "snippets/form.html" with form=generales accion=None %}
                </div>
            </div>


            <div class="cuadro">
                <div class="cuadro-titulo">
                    Observaciones para cada servicio realizado:
                </div>
                <div class="cuadro-contenido">
                    {% for form in servicios %}

                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}

                    <div class="form-group observaciones {% if field.errors %}has-error{% endif %}">
                        <div class=row>
                            <label for="{{ form.observaciones.id_for_label }}" class="col-sm-4 control-label etiqueta">
                                {{ form.observaciones.label }}
                            </label>
                            <div class="col-sm-8 control">
                                {{ form.observaciones }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                <div class=row>
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" name="submit-accion" value="{{ accion }}" class="btn btn-sm btn-default">Guardar</button>
                    </div>
                 </div>
            </div>

    </form>


{% endblock %}
