{% extends 'sitioBase.html' %}
{% load static %}

{% block paginaEstilos %}
    {{ block.super }}
    <link href="{% static 'GestionDePracticas/css/practicas.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" >
{% endblock %}


{% block paginaSeccionGeneral %}

        <section>

        <h4 class="practica-titulo">
            {% block practica-titulo %}
            {% endblock %}
        </h4>
        <p class="practica-subtitulo">
            {% block practica-subtitulo %}
            {% endblock %}
        </p>

        {% block practica-contenido %}
        {% endblock %}

        </section>

{% endblock %}

{% block paginaJavascript %}
   {{block.super}}
    <script src="{% static 'GestionDePracticas/js/practicas.js' %}"></script>
    <script src="{% static 'GestionDePracticas/js/moment.min.js' %}"></script>
    <script src="{% static 'GestionDePracticas/js/es.js' %}"></script>
    <script src="{% static 'GestionDePracticas/js/bootstrap-datetimepicker.min.js'%}"></script>
{% endblock paginaJavascript %}
