{% extends 'GestionDePracticas/GestionDePracticas.html' %}
{% load static %}

{% block titulo %}
Modificar productos de {{ tipo }}
{% endblock %}

{% block practica-titulo %}
Modificar productos de {{ tipo }}
{% endblock %}

{% block practica-contenido %}

    {% include "snippets/errores.html" %}

    {% if acciones %}

    <div class="cuadro">
        {% include "./snippets/resumenPractica.html" %}
    </div>

    <form class="form-horizontal formulario" action="{{ request.path }}" method="POST" onsubmit="validar(event);">
        <div class="row">

            <div class="col-sm-12 hidden">
                {% csrf_token %}
            </div>

            <div id="formset-{{ formset.prefix }}-errores">
                {% if formset.total_error_count %}
                    <div class="col-sm-12">
                        <div class="errores">
                            <strong>Por favor revise los siguientes errores:</strong>
                            <ul>
                                {% include 'snippets/formsetErrores.html' %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-sm-12">
                {% include "snippets/formset.html" with titulo="Productos" %}
            </div>

            <div class="btn-toolbar center-block">
                {% block acciones %}
                    <div class="btn-group creacion">
                        {% include "./snippets/navegacion.html" with pagina="productos" %}
                    </div>
                    <div class="btn-group creacion">
                        {{ acciones.acciones }}
                    </div>
                {% endblock %}
            </div>
        </div>
    </form>
    {% endif %}

{% endblock %}

{% block paginaJavascript %}
    {{ block.super }}
    <script type="text/javascript">
        var validadores = [
            {
                "validador" : validarFormset,
                "argumentos" : {
                    "comparador" : compararProductos,
                    "formset_id" : "{{ formset.prefix }}-formset",
                    "errores" : document.getElementById("formset-{{ formset.prefix }}-errores"),
                }
            }
        ]

        document.onreadystatechange = function(){
            var productos = document.getElementById('{{ formset.prefix }}-formset');
            actualizarEliminar(productos);
        }

    </script>
{% endblock %}