{% extends 'GestionDePracticas/GestionDePracticas.html' %}
{% load static %}

{% block titulo %}
Programar {{ tipo }}
{% endblock %}

{% block practica-titulo %}
Programar {{ tipo }}
{% endblock %}

{% block paginaEstilos %}
    {{ block.super }}
    <link href="{% static "vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
    <link href="{% static "css/tema-datetimepicker.css" %}" rel="stylesheet">
{% endblock %}

{% block practica-contenido %}

    {% include "snippets/errores.html" %}

    {% if accion %}

    <div class="cuadro">
        {% include "./snippets/resumenPractica.html" %}
    </div>

    <form class="form-horizontal formulario" action="{{ request.get_full_path }}" method="post">

        {% csrf_token %}

        {% if form.errors %}
        <div class="errores">
            <strong>Por favor revise los siguientes errores:</strong>
            <ul>
                {% include 'snippets/formErrores.html' %}
            </ul>
        </div>
        {% endif %}

        {% block fields %}
            {% if form.mascota %}
            <div class="form-group mascota {% if form.mascota.errors %}has-error{% endif %}">
                {% include "snippets/field.html" with field=form.mascota %}
            </div>
            {% endif %}
            <div class="form-group desde {% if form.desde.errors %}has-error{% endif %}">
                <div class=row>
                    <label for="{{ form.desde.id_for_label }}" class="col-sm-4 control-label etiqueta">
                        {{ form.desde.label }}
                    </label>
                    <div class="col-sm-8 control">
                        <div class="input-group date" id="desde">
                            {{ form.desde }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group hasta {% if form.hasta.errors %}has-error{% endif %}">
                <div class=row>
                    <label for="{{ form.hasta.id_for_label }}" class="col-sm-4 control-label etiqueta">
                        {{ form.hasta.label }}
                    </label>
                    <div class="col-sm-8 control">
                        <div class="input-group date" id="hasta">
                            {{ form.hasta }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group duracion {% if form.duracion.errors %}has-error{% endif %}">
                {% include "snippets/field.html" with field=form.duracion %}
            </div>

            <div class="form-group adelanto {% if form.adelanto.errors %}has-error{% endif %}">
                {% include "snippets/field.html" with field=form.adelanto %}
            </div>
        {% endblock %}

        <div class="btn-toolbar center-block">
            {% block acciones %}
                <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-default center-block">
                        {{ accion|capfirst }}
                    </button>
                </div>
            {% endblock %}
        </div>


    </form>

    {% endif %}

{% endblock %}

{% block paginaJavascript %}
    {{ block.super }}
    <script src="{% static "vendor/moment/moment.js" %}"></script>
    <script src="{% static "vendor/moment/locale/es.js" %}"></script>
    <script src="{% static "vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" %}"></script>

    <script type="text/javascript">
        document.onreadystatechange = function(){

            $("#desde").datetimepicker({
                locale:"es",
            });

            $("#hasta").datetimepicker({
                locale:"es",
                useCurrent: false,
            });

            $("#desde").on("dp.change", function (e) {
                $('#hasta').data("DateTimePicker").minDate(e.date);
                var formato = leerFormato("hasta");
                var duracion = calcularVigencia("id_desde", "id_hasta", formato, "minute");
                document.getElementById("id_duracion").value = duracion;
            });

            $("#hasta").on("dp.change", function (e) {
                $('#desde').data("DateTimePicker").maxDate(e.date);
                var formato = leerFormato("hasta");
                var duracion = calcularVigencia("id_desde", "id_hasta", formato, "minute");
                document.getElementById("id_duracion").value = duracion;
            });

            document.getElementById("id_duracion").onchange = function(){
                var formato = leerFormato("hasta");
                ajustarVigencia("id_desde", "id_hasta", "id_duracion", formato, "minute");
            }

        }
    </script>

{% endblock %}