{% extends 'GestionDePracticas/GestionDePracticas.html' %}
{% load static %}

{% block titulo %}
Detalles de {{ tipo }}
{% endblock %}

{% block practica-titulo %}
Detalles de {{ tipo }}
{% endblock %}

{% block practica-contenido %}

    {% include "./snippets/errores.html" %}

    {% if accion %}
        <form class="form-horizontal formulario" action="{{ request.path }}" method="POST" onsubmit="validar(event);">
            <div class="row">

                <div class="col-sm-12 hidden">
                    {% csrf_token %}
                </div>

                <div class="col-sm-12">
                    <div id="formset-{{ servicios.prefix }}-errores">
                        {% if servicios.total_error_count %}
                            <div class="errores">
                                <strong>Por favor revise los siguientes errores:</strong>
                                <ul>{% include './snippets/formsetErrores.html' with formset=servicios %}</ul>
                            </div>
                        {% endif %}
                    </div>

                    {% include "./snippets/formset.html" with formset=servicios titulo="Servicios realizados" %}
                </div>

                <div class="col-sm-12">
                    <div id="formset-{{ productos.prefix }}-errores">
                        {% if productos.total_error_count %}
                            <div class="errores">
                                <strong>Por favor revise los siguientes errores:</strong>
                                <ul>{% include './snippets/formsetErrores.html' with formset=productos %}</ul>
                            </div>
                        {% endif %}
                    </div>
                    {% include "./snippets/formset.html" with formset=productos titulo="Productos utilizados" %}
                </div>

                <div class="col-sm-12 acciones">
                    <button type="submit" class="btn btn-sm btn-default center-block">
                        Guardar
                    </button>
                </div>

            </div>
        </form>
    {% endif %}

{% endblock %}

{% block paginaJavascript %}
    {{ block.super }}
    <script src="{% static 'GestionDePracticas/js/GestionDePracticas.js' %}"></script>
    <script type="text/javascript">
        var validadores = [
            {
                "validador" : validarFormset,
                "argumentos" : {
                    "comparador" : compararServicios,
                    "formset_id" : "{{ servicios.prefix }}-formset",
                    "errores" : document.getElementById("formset-{{ servicios.prefix }}-errores"),
                    "objeto" : "{{ servicios.label.lower }}",
                }
            },
            {
                "validador" : validarFormset,
                "argumentos" : {
                    "comparador" : compararProductos,
                    "formset_id" : "{{ productos.prefix }}-formset",
                    "errores" : document.getElementById("formset-{{ productos.prefix }}-errores"),
                    "objeto" : "{{ productos.label.lower }}",
                }
            }
        ]

        document.onreadystatechange = function(){

            var servicios = document.getElementById('{{ servicios.prefix }}-formset');
            var productos = document.getElementById('{{ productos.prefix }}-formset');

            actualizarEliminar(servicios);
            actualizarEliminar(productos);
        }

    </script>
{% endblock %}