{% extends 'GestionDePracticas/ver.html' %}
{% load practicaUrl %}

{% block estado %}
<div class="marco">
    <h4>Realizacion</h4>

    <p><strong>Fecha de realizacion:</strong> {{ estado.inicio|date:"d/m/y" }}</p>
    <p><strong>Hora de inicio:</strong> {{ estado.inicio|date:"H:i" }}</p>
    <p><strong>Hora de finalizacion:</strong> {{ estado.finalizacion|date:"H:i" }}</p>
    <p><strong>Duracion real:</strong> {{ estado.duracion }} min</p>
    <p><strong>Importe total:</strong> ${{ estado.total }}</p>
</div>

<div class="marco">
    <h4>Datos clinicos de la mascota</h4>

    {% if estado.condicionPreviaMascota %}
    <strong>Condicion previa a la atencion</strong>
    <p>{{ estado.condicionPreviaMascota }}</p>
    {% endif %}

    {% if estado.realizada_servicios.count %}
        {% for detalle in estado.realizada_servicios.all %}
            {% if detalle.observaciones %}
            <p><strong>{{ detalle.servicio.nombre }}: </strong>{{ detalle.observaciones }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if estado.resultados %}
    <strong>Resultados de la atencion</strong>
    <p>{{ estado.resultados }}</p>
    {% endif %}

    <p><a href="{% practicaUrl practica.nombreTipo "realizacion" id=practica.id %}">Modificar detalles de la realizacion</a></p>
</div>

{% endblock %}
