
<div class="practica-secciones">
        <a id="practica-link-habilitados" class="btn btn-sm btn-default {% if pagina == 'practicas:practicaVerHabilitadas' %} disabled {% endif %}"  href="{% url 'practicas:practicaVerHabilitadas' %}"> Habilitados </a>
        <!--  'practicas:practicaVerDeshabilitados'   -->
        <a id="practica-link-deshabilitados" class="btn btn-sm btn-default {% if pagina == 'practicas:practicaVerHabilitadas' %} disabled {% endif %}"  href="{% url 'practicas:practicaVerHabilitadas' %}"> Deshabilitados </a>

</div>
