{% extends 'GestionDePracticas/practicas.html' %}

{% block titulo %}
Ver {{ tipo }}
{% endblock %}

{% block practica-titulo %}
Ver {{ tipo }}
{% endblock %}

{% block practica-subtitulo %}
{% if practica.estado %}
    Ultima modificacion el dia {{ practica.estado.marca }}
{% endif %}
{% endblock %}

{% block practica-contenido %}

<div class="practica-cuerpo">

    <div class="well">

        <p>Numero: {{ practica.id }}</p>
        <p>Cliente: {{ practica.cliente }}</p>
        <p>Tipo de Atencion: {{ practica.tipoDeAtencion }}</p>
        <p>Estado: {{ practica.estado }}</p>

        <p> Servicios: </p>
        <ul>
            {% for detalle in practica.practica_servicios.all %}
            <li> {{ detalle.cantidad }}: {{ detalle.servicio.nombre }} </li>
            {% endfor %}
        </ul>
        <p> Productos: </p>
        <ul>
            {% for detalle in practica.practica_productos.all %}
            <li> {{ detalle.cantidad }}: {{ detalle.producto.nombre }} </li>
            {% endfor %}
        </ul>


        {% if practica.estado.realizada_servicios %}
        <p> Servicios realizados: </p>
        <ul>
            {% for detalle in practica.estado.realizada_servicios.all %}
            <li> {{ detalle.cantidad }}: {{ detalle.servicio.nombre }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if practica.estado.realizada_productos %}
        <p> Productos utilizados: </p>
        <ul>
            {% for detalle in practica.estado.realizada_productos.all %}
            <li> {{ detalle.cantidad }}: {{ detalle.producto.nombre }} </li>
            {% endfor %}
        </ul>
        {% endif %}

        <p>Precio: {{ practica.estado.precioTotal }}</p>

    </div>
</div>
{% endblock %}
