{% extends 'GestionDePracticas/GestionDePracticas.html' %}

{% block titulo %}
Gestión de Consultas | Ver Consultas
{% endblock %}

{% block practicaTitulo %}
<h3>Consultas Almacenadas</h3>
{% endblock %}

{% block practicaSubtitulo %}
<p>Consultas actualmente disponibles</p>
{% endblock %}

{% block secciones %}
{% include './seccionesSnippet.html' with pagina='verHabilitados' %}
{% endblock %}

{% block practicaContenido %}
<!-- Listado -->
<div class="practicaCuerpo" >
    <p> Se poseen las siguientes consultas almacenadas.  </p>
    <form action="" method="GET">
      <input name="nombre" placeholder="nombre">
      <button type="submit">Filtrar</button>
    </form>

    {% if practicas %}
            <div class="table-responsive" id="tabla">
                <table class="table practicaListado">
                    <thead>
                        <tr>
                            <th id="deshabilitados-nombre">Nombre</th>
                            <th id="deshabilitados-acciones">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for practica in practicas %}
                            <tr>
                                <td>{{ practica.nombre }}</td>
                                <td> <p align="center">
                                  <a  href="{% url 'practicas:practicaVer' practica.id %}" class="btn btn-xs btn-default">
                                      <i class="glyphicon glyphicon-eye-open"> </i>
                                  </a>
                                  <a href="{% url 'practicas:practicaModificar' practica.id %}" class="btn btn-xs btn-default">
                                      <i class="glyphicon glyphicon-edit"> </i>
                                  </a>
                                  <a href="{% url 'practicas:practicaDeshabilitar' practica.id %}" class="btn btn-xs btn-default">
                                      <i class="glyphicon glyphicon-minus"> </i>
                                  </a>
                              </p> </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    {% else %}
        <p> No hay consultas cargadas</p>
    {% endif %}
    <a  id ="practicaHabilitadasCrear" class="btn btn-sm btn-default" href="{% url 'practicas:practicaCrearConsulta' %}"> Crear </a>
</div>
{% endblock %}
