<div id="{{ formset.prefix }}-formset" class="form-inline formset">

    {% if titulo %}
    <div class="titulo">
        <strong>{{ titulo }}</strong>
    </div>
    {% endif %}

    <div class="forms">
        {% for form in formset %}
            {% include "./formsetForm.html" with prefix=formset.prefix form=form %}
        {% endfor %}
    </div>

    <div class="acciones" >
        <a class="btn btn-sm btn-default agregar" href="javascript:;" onclick="agregar(event);">Agregar</a>
    </div>

    <div class="managementform hidden">
        {{ formset.management_form }}
    </div>

    <div class="emptyform hidden" >
        {% include "./formsetForm.html" with prefix=formset.prefix form=formset.empty_form %}
    </div>

</div>
