<div class="cuadro-contenido">
<div class="row">


    <div class="col-md-6">
        <p>
            <strong>Cliente:</strong>
            {{ practica.cliente.nombres }}{% if practica.cliente.apellidos %} {{ practica.cliente.apellidos }}{% endif %} ({{ practica.cliente.dniCuit }})
        </p>
        {% if practica.mascota %}
        <p>
            <strong>Mascota:</strong>
            {{ practica.mascota.nombre }} ({{ practica.mascota.patente }})
        </p>
        {% endif %}
        <p>
            <strong>Tipo de Atencion:</strong>
            {{ practica.tipoDeAtencion.nombre }}
        </p>
        <p>
            <strong>Precio previsto:</strong>
            ${{ precio|floatformat:2 }}
        </p>
<!--        {% if form.adelanto %}
        <p>
            <strong>Adelanto ({{ porcentajeAdelanto|floatformat:2 }}%):</strong>
            ${{ form.adelanto.value|floatformat:2 }}
        </p>
        {% endif %}
-->
    </div>

    <div class="col-md-6">
        <p>
            <strong>Servicios a realizar:</strong>
            <ul class="sinestilo">
                {% for detalle in servicios %}
                    <li>{{ detalle.servicio.nombre }} ({{ detalle.cantidad }})</li>
                {% endfor %}
            </ul>
        </p>
        <p>
            <strong>Duracion estimada:</strong>
            {{ duracion }} min
        </p>
    </div>

</div>
</div>




