    <script type="text/javascript">
    $("#resumen-servicios").on("hidden.bs.collapse", function () { reemplazarClase("icono-resumen-servicios", "fa-minus-circle", "fa-plus-circle"); } );
    $("#resumen-servicios").on("shown.bs.collapse", function () { reemplazarClase("icono-resumen-servicios", "fa-plus-circle", "fa-minus-circle"); } );

    $("#resumen-productos").on("hidden.bs.collapse", function () { reemplazarClase("icono-resumen-productos", "fa-minus-circle", "fa-plus-circle"); } );
    $("#resumen-productos").on("shown.bs.collapse", function () { reemplazarClase("icono-resumen-productos", "fa-plus-circle", "fa-minus-circle"); } );
    </script>
