{% extends 'GestionDePagos/GestionDePagos.html' %}

{% block titulo %}
Gestion de Pagos | Ver Pagos
{% endblock %}

{% block pagosTitulo %}
Pagos
{% endblock %}

{% block pagosSubtitulo %}
Actualmente disponibles
{% endblock %}

{% block pagosContenido %}

<!-- Listado -->
<div class="pagosCuerpo" >
    {% if pagos %}
            <div class="table-responsive" id="tabla">
                <table class="table pagosListado">
                    <thead>
                        <tr>
                            <th id="listar-nombre"> Pagos </th>
                            <th id="listar-acciones"> Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pago in pagos %}
                            <tr>
                                <td> <p>{{pago.fecha }}</p></td>
                                <td> <p align="justify">
                                        <a  href="{% url 'pagos:pagoVer' pago.id %}" class="btn btn-xs btn-default">
                                            <i class="glyphicon glyphicon-eye-open"> </i>
                                        </a>
                                </p> </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

    {% else %}

        <p> No hay pagos habilitados</p>

    {% endif %}

    <a  id ="pagosHabilitadosCrear" class="btn btn-sm btn-default" href="{% url 'pagos:pagoCrear' %}"> Crear </a>

</div>

{% endblock %}
