{% extends 'GestionDePagos/GestionDePagos.html' %}

{% block titulo %}
Gestion de Pagos | Ver Pagos
{% endblock %}

{% block pagosTitulo %}
Pagos de Facturas
{% endblock %}

{% block pagosSubtitulo %}
{% endblock %}

{% block pagosContenido %}

{% load navigation_filters %}

    <div id="filtrarPagos">
        <a role="button" href="#filtrarPagos2" data-toggle="collapse">
            <i class="glyphicon glyphicon-tasks"></i>
            <span>Criterios de busqueda</span>
        </a>
        <div id="filtrarPagos2" class="collapse in">
            <form class="form-horizontal filtrado" action="" method="GET">
                <!--{% include "formularios/snippet.html" with formulario=form accion="Filtrar" %}-->
                    <div>
                        <form action="" method="GET">
                            <br>
                            <input name="fecha" placeholder="Fecha">
                            <input name="tipoFactura" placeholder="Tipo Factura">
                            <input name="ciente" placeholder="Cliente">
                            <input name="importeTotal" placeholder="Importe">


                            <button class="btn btn-default filtrar" type="submit">Filtrar</button>
                        </form>


                    </div>
            </form>
        </div>
    </div>
    <br>
    <form class="form-inline listado" action="{{ request.get_full_path }}" method="GET">
      <div class="hidden orden-listado">
          {% for field in gestor.formOrden %}
              {{ field }}
          {% endfor %}
          {{ gestor.formPagina.desde }}
      </div>
      <div class="sombreado">
          {{ gestor.formPagina.resultados }}
          <button class="btn btn-default filtrar" type="submit">Mostrar</button>
      </div>

        <table class="table table-bordered table-responsive items">
          <colgroup>
            <col class="columna{% if gestor.encabezado.orden_fecha.activa %} activa{% endif %}"/>
            <col class="columna{% if gestor.encabezado.orden_importeTotal.activa %} activa{% endif %}"/>
            <col class="columna{% if gestor.encabezado.orden_factura.activa %} activa{% endif %}"/>
            <!-- <col class="columna{% if gestor.encabezado.orden_baja.activa %} activa{% endif %}"/> -->
          </colgroup>
          <thead>
            <tr>
              <th>{% include "snippets/encabezado.html" with columna=gestor.encabezado.orden_fecha %}</th>
              <th>{% include "snippets/encabezado.html" with columna=gestor.encabezado.orden_importeTotal %}</th>
              <th>{% include "snippets/encabezado.html" with columna=gestor.encabezado.orden_factura %}</th>


              <!-- <th>{% include "snippets/encabezado.html" with columna=gestor.encabezado.orden_baja %}</th> -->
            </tr>
          </thead>
          <tbody>
              {% for pago in gestor.items_actuales %}
                  <tr>
                      <td>
                          <a href="{% url 'pagos:pagoVer' pago.id %}">
                              {{ pago.fecha }}</a>
                      </td>

                      <td>{{ pago.importeTotal }}</td>

                      <td>{{ pago.factura.id }}</td>

                      <!-- <td>% {{ pago.baja }}</td> -->

                      <!-- <td>{{ tipoDeAtencion.inicioFranjaHoraria|date:"H:i" }} hs. a {{ tipoDeAtencion.finFranjaHoraria|date:"H:i" }} hs.</td> -->
                  </tr>
              {% endfor %}
          </tbody>
        </table>

      <div>
      {% include "snippets/paginacion.html" with links=gestor.paginas%}
      </div>

    </form>


    <br>
    {% if pagos %}
            <div class="table-responsive" id="tabla">
                <table class="table pagosListado">
                    <thead>
                        <tr>
                            <th id="listar-cliente"> Cliente </th>
                            <th id="listar-fecha"> Fecha </th>
                            <th id="listar-tipo"> Tipo de Factura </th>
                            <th id="listar-importe"> Importe </th>
                            <th id="listar-acciones"> Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pago in pagos %}
                            <tr>
                                <td> <p>{{pago.factura.cliente }}</p></td>
                                <td> <p>{{pago.fecha }}</p></td>
                                <td> <p>{{pago.factura.tipo }}</p></td>
                                <td> <p>{{pago.factura.total }}</p></td>
                                <td> <p align="justify">
                                        <a  href="{% url 'pagos:pagoVer' pago.id %}" class="btn btn-xs btn-default">
                                            <i class="glyphicon glyphicon-eye-open"> </i>
                                        </a>
                                </p> </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

    {% else %}

        <p> No hay pagos </p>

    {% endif %}

    <div align="center">
        <ul class="pagination pagination-sm">
            {% if pagos.has_previous %}
                <li><a href="?page={{ pagos.previous_page_number }}" class="btn btnpages">
                    <i class="glyphicon glyphicon-chevron-left"></i></a></li>
            {% endif %}

            {% for page in pagos.paginator.page_range|page_filter:pagos %}
                <li class="{% if pagos.number == page %}active{% endif %}">
                    <a class="btn btnpages" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}

            {% if pagos.has_next %}
                <li>
                    <a href="?page={{ pagos.next_page_number }}" class="btn btnpages">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

</div>

{% endblock %}
