{% extends 'GestionDePagos/GestionDePagos.html' %}

{% block titulo %}
Gestion Pagos | Ver Ticket
{% endblock %}

{% block secciones %}
    {% include './seccionesSnippet.html' with pagina='default' %}
{% endblock %}

{% block pagosTitulo %}
Ver Ticket
{% endblock %}

{% block pagosSubtitulo %}
Muestra datos del pago
{% endblock %}

{% block pagosContenido %}

    <div class="pagosCuerpo">

        {% if pago %}
        <div class="well">
            <p>Identificador: {{ pago.id }}</p>
            <p>Fecha: {{ pago.fecha }} </p>
            <p>Importe Total: {{ pago.importeTotal}}</p>
            <p>Factura: {{pago.factura}}</p>

        </div>
        {% else %}

            <p> El pago no existe </p>

        {% endif %}

    </div>

{% endblock pagosContenido %}
