.rubroSecciones {
  padding: 0px;
  margin-top: 0px;
  text-align: right;
}

.rubroTitulo {
  margin-top: 10px;
  margin-bottom:3px;
  font-weight: normal;
}

.rubroSubtitulo {
  margin: 3px 0px 20px 0px;
  font-style: italic;
  color: #555;
}

.rubroLineaTitulo {
  border-bottom: 1px solid #DDD;
}

.rubroCuerpo {
  padding: 0px;
  margin-top: 5px;
}

rubroHabilitadosCrear {
  clear: both;
  margin-bottom: 10px;
}

.rubroEtiqueta {
  text-align: left;
  font-weight: bold;
  margin: 0px 0px 5px 0px;
  padding: 0px;
}

.rubro-aviso-eliminacion {
  text-align: center;
  text-weight: bold;
  margin: 20px 0px 20px 0px;
}

.rubro-item-acciones a {
  margin: 10px 0px 10px 0px;
}

.rubro-accion-listado {
  font-size: 110%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.rubro-accion-listado:hover {
  text-decoration: none;
}

.rubroListado thead {
  background-color: transparent;
  color: #2A3F54;
}

.rubroListado,
.rubroListado thead,
.rubroListado thead tr,
.rubroListado thead tr th,
.rubroListado tbody,
.rubroListado tbody tr,
.rubroListado tbody tr, {
  border: 0px solid #FFF;
}

table.table.rubroListado {
  border: 0px solid #FFF;
}

.rubroListado>tbody>tr>td {
    padding-top: 9px;
    padding-left: 4px;
    border-top: 1px solid #DDD !important;
}
