<div class="secciones">

    <a id="rubroAyuda" class="btn btn-sm btn-default" target="_blank" href="{% url 'rubros:ayudaRubro'%}"  data-toggle="tooltip" data-placement="bottom" title="Ayuda"> <i class="glyphicon glyphicon-book"> </i></a>

    <a id="link-habilitados" class="btn btn-sm btn-default {% if pagina == 'verHabilitados' %} disabled {% endif %}"  href="{% url 'rubros:rubroVerHabilitados' %}"> Habilitados </a>

    <a id="link-deshabilitados" class="btn btn-sm btn-default {% if pagina == 'verDeshabilitados' %} disabled {% endif %}"  href="{% url 'rubros:rubroVerDeshabilitados' %}"> Deshabilitados </a>

</div>
