{% extends 'GestionDeTiposDeAtencion/tda.html' %}

{% block titulo %}
Gestion de Tipos de Atencion | Modificar Tipo de Atencion
{% endblock %}

{% block tda-titulo %}
Modificar Tipo de Atencion
{% endblock %}

{% block tda-subtitulo %}
Permite cambiar datos relacionados al tipo de atencion
{% endblock %}

{% block tda-contenido %}

    {% include './acciones_snippet.html' with item=tipoDeAtencion seccion='modificar' %}

    <div class="tda-cuerpo">
            <form class="form-horizontal formulario" action="{% url 'GestionDeTiposDeAtencion:modificar' tipoDeAtencion.id  %}" method="post">

                {% csrf_token %}

                {% include './formulario_snippet.html' with campos=formulario %}

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" class="btn btn-sm btn-default">Modificar</button>
                    </div>
                </div>

            </form>
    </div>

{% endblock %}
