.facturaSecciones {
  padding: 0px;
  margin-top: 0px;
  text-align: right;
}

.facturaTitulo {
  margin-top: 10px;
  margin-bottom:3px;
  font-weight: normal;
}

.facturaSubtitulo {
  margin: 3px 0px 20px 0px;
  font-style: italic;
  color: #555;
}

.facturaLineaTitulo {
  border-bottom: 1px solid #DDD;
}

.facturaCuerpo {
  padding: 0px;
  margin-top: 5px;
}

facturaHabilitadosCrear {
  clear: both;
  margin-bottom: 10px;
}

.facturaEtiqueta {
  text-align: left;
  font-weight: bold;
  margin: 0px 0px 5px 0px;
  padding: 0px;
}

.factura-aviso-eliminacion {
  text-align: center;
  text-weight: bold;
  margin: 20px 0px 20px 0px;
}

.facturaItemAcciones a {
  margin: 10px 0px 10px 0px;
}

.factura-accion-listado {
  font-size: 110%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.factura-accion-listado:hover {
  text-decoration: none;
}

.facturaListado thead {
  background-color: transparent;
  color: #2A3F54;
}

.facturaListado,
.facturaListado thead,
.facturaListado thead tr,
.facturaListado thead tr th,
.facturaListado tbody,
.facturaListado tbody tr,
.facturaListado tbody tr, {
  border: 0px solid #FFF;
}

table.table.facturaListado {
  border: 0px solid #FFF;
}

.facturaListado>tbody>tr>td {
    padding-top: 9px;
    padding-left: 4px;
    border-top: 1px solid #DDD !important;
}

.wrapper-simple {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 45px;
    height: 40px;
    padding: 10px 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fefaf4), to(#f4ede2));
    border-radius: 5px;
    box-shadow: inset rgba(255, 254, 255, 1) 0 0.1em 2px,
                    #b7a082 0 1px 2px;
    position: relative;
    color: orange;
}

.naranja{
    color: orange;
}