{% extends "sitio_base.html" %}
{% load static %}
<html lang="es">
  <head>
  {% block head %}
    {% block meta %}
    {% endblock meta %}
    <title>Veterinaria Patagónica| {% block title %}{% endblock %}</title>
    {% block stylesheets %}
    <p>Vetereniaria Patagónica<p>
    {% endblock stylesheets %}
  {% endblock head %}
</head>
<body class="{% block body_class %}nav-md {% endblock body_class %}">
  {% block body %}
        {% block top_navigation %}
        {% endblock top_navigation %}
        {% block content %}
        <p>Sitio para gestionar los clientes de la Veterinaria.<p>
        {% endblock content %}

        {% block footer %}
        <p>Para mas información  de los Clientes haga click aquí<p>
        {% endblock footer %}

    {% block javascripts %}
          <script src="{% static 'js/myscript.js' %}" type="text/javascripts"></script>
    {% endblock %}
  {% endblock body %}
</body>
</html>
