<div class="menu-colapsable" >
    <div class="item-colapsable" >
        <a role="button" href="#tipodeatencion-acciones" data-toggle="collapse">
            <i class="glyphicon glyphicon-tasks"></i>
            <span>Acciones</span>
        </a>
        <div class="contenido-colapsable collapse in" id="tipodeatencion-acciones">
            <ul class="acciones sinestilo">

                {% if seccion != 'ver' %}
                <li><a  class="btn btn-sm btn-default" href="{% url 'tiposDeAtencion:ver' item.id %}">Ver detalles</a></li>
                {% endif %}

                {% if seccion != 'modificar' %}
                <li><a  class="btn btn-sm btn-default" href="{% url 'tiposDeAtencion:modificar' item.id %}">Modificar</a></li>
                {% endif %}

                {% if item.baja == False %}
                <li><a  class="btn btn-sm btn-default" href="{% url 'tiposDeAtencion:deshabilitar' item.id %}">Deshabilitar</a></li>
                {% else %}
                <li><a  class="btn btn-sm btn-default" href="{% url 'tiposDeAtencion:habilitar' item.id %}">Habilitar</a></li>
                <li><a  class="btn btn-sm btn-default" href="{% url 'tiposDeAtencion:eliminar' item.id %}">Eliminar</a></li>
                {% endif %}


            </ul>
        </div>
    </div>
</div>
