<div class="menu-colapsable" >
    <div class="item-colapsable" >
        <a role="button" href="#producto-acciones" data-toggle="collapse">
            <i class="glyphicon glyphicon-tasks"></i>
            <span>Acciones</span>
        </a>
        <div class="contenido-colapsable collapse in" id="producto-acciones">
            <ul class="acciones sinestilo">

                {% if seccion != 'ver' %}
                    <li><a  class="btn btn-sm btn-default" href="{% url 'productos:productoVer'  item.id %}">Ver</a></li>
                {% endif %}

                {% if seccion != 'modificar' %}
                    <li><a  class="btn btn-sm btn-default" href="{% url 'productos:productoModificar' item.id %}">Modificar</a></li>
                {% endif %}

                {% if item.baja == False %}
                    <li><a  class="btn btn-sm btn-default" href="{% url 'productos:productoDeshabilitar' item.id %}">Deshabilitar</a></li>
                {% else %}
                    <li><a  class="btn btn-sm btn-default" href="{% url 'productos:productoHabilitar' item.id %}">Habilitar</a></li>
                    <li><a  class="btn btn-sm btn-default" href="{% url 'productos:productoEliminar' item.id %}">Eliminar</a></li>
                {% endif %}


            </ul>
        </div>
    </div>
</div>
