<a
    tabindex="0"
    class="link-ayuda"
    role="button"
    data-toggle="popover"
    data-trigger="click"
    data-template="<div onclick=&quot;cerrarPopover('{{ id }}');&quot; class=&quot;popover&quot; role=&quot;tooltip&quot;><div class=&quot;arrow&quot;></div><div class=&quot;popover-content&quot;></div></div>"
    title="----------"
    id="{{ id }}"
    data-content="{{ content }}"
    {% if html %}data-html="true" {% endif %}
    {% if container %}data-container="{{ container }}" {% endif %}
    {% if placement %}data-placement="{{ placement }}" {% endif %}
    {% if selector %}data-selector="{{ selector }}" {% endif %}
    {% if viewport %}data-viewport="{{ viewport }}" {% endif %}
><span class="glyphicon glyphicon-question-sign"></span></a>
