<div class="form-group {{ field.name }} {% if field.errors %}has-error{% endif %}">
    <div class=row>
        <label for="{{ field.id_for_label }}" class="col-xs-12 col-sm-2 col-md-4 etiqueta control-label" onclick="javascript:event.preventDefault();">
        {{ field.label }}
        </label>
        <div class="col-xs-12 col-sm-10 col-md-8 control">
            {% if field.help_text %}
            {% include "snippets/ayuda.html" with content=field.help_text id=field.id_for_label|add:"_help_text" %}
            {% endif %}
            <div class="input-group date" id="{{ field.name|add:"_calendar" }}">
                {{ field }}
                <span class="input-group-addon">
                    {% if icono == "reloj" %}
                    <span class="glyphicon glyphicon-time"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-calendar"></span>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
