<div class="btn-toolbar paginacion center-block">

    <div class="btn-group links">
        <a class="btn btn-default btn-sm {% if not links.primera.habilitada %} disabled{% endif %}" href="{{ links.primera.url }}">
        Primera
        </a>

        <a class="btn btn-default btn-sm {% if not links.anterior.habilitada %} disabled{% endif %}" href="{{ links.anterior.url }}">
        Anterior
        </a>
    </div>


    <div class="btn-group paginas">
    {% for pagina in links.paginas %}

        <a class="btn btn-default btn-sm {% if not pagina.habilitada %} disabled{% endif %}" href="{{ pagina.url }}">
        {{ pagina.numero }}
        </a>

    {% endfor %}
    </div>


    <div class="btn-group links">
        <a class="btn btn-default btn-sm {% if not links.siguiente.habilitada %} disabled{% endif %}" href="{{ links.siguiente.url }}">
        Siguiente
        </a>

        <a class="btn btn-default btn-sm {% if not links.ultima.habilitada %} disabled{% endif %}" href="{{ links.ultima.url }}">
        Ultima
        </a>
    </div>

</div>
