{% if titulo %}
    {% if menu %}
        <div class="dropdown menu-contextual">
            <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">
                {{ titulo }}
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-menu">
            {% for seccion in menu %}
                {% if not forloop.counter0 == 0 %}
                <div class="separador"></div>
                {% endif %}
                <ul class="seccion">
                {% for url, etiqueta in seccion %}
                    {% if etiqueta == "Ayuda sobre Gestión de Clientes" %}
                    <li>
                        <a href="{{ url }}" target="_blank">
                            <div class="etiqueta">{{ etiqueta|capfirst }}</div>
                        </a>
                    </li>
                    {% else %}  

                    <li>
                        <a href="{{ url }}">
                            <div class="etiqueta">{{ etiqueta|capfirst }}</div>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endfor %}
            </div>
        </div>
    {% else %}
        {{ titulo }}
    {% endif %}
{% endif %}
