{% extends 'GestionDeFormasDePagos/GestionDeFormasDePagos.html' %}

{% block titulo %}
Gestion de Formas de Pagos | Eliminar Forma de Pago
{% endblock %}

{% block formaDePagoTitulo %}
Eliminar Forma de Pago
{% endblock %}

{% block formaDePagoSubtitulo %}
Elimina permanentemente la forma de pago del sistema
{% endblock %}

{% block formaDePagoContenido %}
<div class="formaDePagoCuerpo">
  <form class="form" action="{% url 'formasDePagos:formaDePagoEliminar' id %}" method="post">
    {% csrf_token %}
    <p class="formaDePagoAvisoEliminacion"> Confirmar eliminacion: </p>
    <button type="submit" class="btn btn-sm btn-default center-block">Eliminar</button>
  </form>
</div>
{% endblock formaDePagoContenido %}
