{% extends 'GestionDeFormasDePagos/GestionDeFormasDePagos.html' %}
{% load static %}

{% block titulo %}
Gestion de Formas De Pagos | Crear Formas De Pagos
{% endblock %}

{% block formaDePagoTitulo %}
{% if titulo == 1 %}
    Nueva Forma de Pago
{% endif %}
{% if titulo == 2 %}
    Modificar Forma de Pago
{% endif %}
{% endblock %}

{% block formaDePagoSubtitulo %}

{% if titulo == 1 %}
    Agrega una Forma De Pago al listado
{% endif %}
{% if titulo == 2 %}
    Modificar datos de una Forma de Pago
{% endif %}
{% endblock %}

{% block formaDePagoContenido %}

    <div class="formaDePagoCuerpo">
        <form class="form-horizontal formulario" action="" method="post">

            {% csrf_token %}

            {% include 'formularios/snippet.html' with campos=formulario accion="Guardar Datos" accion2=""%}

        </form>
    </div>

{% endblock %}