
<div class="insumo-item-acciones"><!-- VER SI NO ES "insumoItemAcciones" -->

        {% if seccion != 'ver' %}
        <a  class="btn btn-sm btn-default" href="{% url 'insumos:insumoVer' item.nombre %}">Ver</a>
        {% endif %}

        {% if seccion != 'modificar' %}
        <a  class="btn btn-sm btn-default" href="{% url 'insumos:insumoModificar' item.nombre %}">Modificar</a>
        {% endif %}

        {% if item.baja == False %}
            <a  class="btn btn-sm btn-default" href="{% url 'insumos:insumoDeshabilitar' item.nombre %}">Deshabilitar</a>
        {% else %}
            <a  class="btn btn-sm btn-default" href="{% url 'insumos:insumoHabilitar' item.nombre %}">Habilitar</a>
        {% endif %}

</div>
