
<div class="insumo-item-acciones"><!-- VER SI NO ES "insumoItemAcciones" -->

        {% if seccion != 'ver' %}
        <a  class="btn btn-sm btn-default" href="{% url 'insumos:insumoVer' insumo.id %}">Ver</a>
        {% endif %}

        {% if seccion != 'modificar' %}
        <a  class="btn btn-sm btn-default" href="{% url 'insumos:insumoModificar' insumo.id %}">Modificar</a>
        {% endif %}

        {% if item.baja == False %}
            <a  class="btn btn-sm btn-default" href="{% url 'insumos:insumoDeshabilitar' insumo.id %}">Deshabilitar</a>
        {% else %}
            <a  class="btn btn-sm btn-default" href="{% url 'insumos:insumoHabilitar' insumo.id %}">Habilitar</a>
        {% endif %}

</div>
