{% extends 'GestionDeInsumos/GestionDeInsumos.html' %}

{% block titulo %}
Gestion de Insumos | Crear Insumo
{% endblock titulo %}

{% block insumoTitulo %}
Nuevo Insumo
{% endblock insumoTitulo %}

{% block insumoSubtitulo %}
Agrega un Insumo al listado
{% endblock insumoSubtitulo %}

{% block insumoContenido %}

    <div class="insumoCuerpo">
        <form class="form-horizontal" action="" method="post">

            {% csrf_token %}

            {% include 'formularios/snippet.html' with campos=formulario accion="Crear" %}

        </form>
    </div>

{% endblock insumoContenido %}