{% extends "sitioBase.html" %}
{% load static %}

{% block paginaEstilos %}
    {{ block.super }}
    <link href="{% static 'GestionDeInsumos/css/GestionDeInsumos.css' %}" rel="stylesheet">
{% endblock paginaEstilos%}


{% block paginaSeccionGeneral %}
        {{ block.super }}
        <p>Sitio para gestionar los Insumos de la Veterinaria.<p>

        <section>
        <!--{% block secciones %}-->
        <!--{% include './seccionesSnippet.html' with pagina='default' %}-->
        <!--{% endblock secciones %}-->

        <h4 class="insumoTitulo">
            {% block insumoTitulo %}
            {% endblock insumoTitulo %}
        </h4>
        <div class="insumoLineaTitulo"></div>
        <p class="insumoSubtitulo">
            {% block insumoSubtitulo %}
            {% endblock insumoSubtitulo%}
        </p>

        {% block insumoContenido %}
        {% endblock insumoContenido %}
        </section>

{% endblock paginaSeccionGeneral %}
