.formset .forms .form-group {
    width: auto;
    margin: 0px 0px 4px 0px ;
}
.formset.form-inline {
    padding: 0px 15px;
}
.formset .forms .form-group.cantidad {
    width: 13%;
}
.formset .forms .form-group.eliminar {
    width: auto;
}
.formset .forms .form-group.servicio,
.formset .forms .form-group.producto {
    width: 83%;
}
.formset .forms .form-group.observaciones {
    width: 97%;
}
.formset .titulo{ 
    border-top: 0.5px solid #DDD;
    border-left: 0.5px solid #DDD;
    border-right: 0.5px solid #DDD;
    padding: 6px;
}
.formset .forms .formset-form{ 
    border-top: 0.5px solid #DDD;
    border-left:      0.5px solid #DDD;
    border-right:    0.5px solid #DDD;
    padding: 6px;
}
.formset .acciones { 
    border-top: 0.5px solid #DDD;
}
.formset .acciones .agregar { 
    margin-top: 4px;
}
.formset .forms .form-group.eliminar a {
    color: #000;
}
.formset .forms .formset-form .form-group.eliminar a.disabled {
    color: #AAA; 
}
.formset .forms .formset-form .form-group.eliminar a.disabled:hover {
    cursor: default;
}



#servicio-formset.form-inline {
    padding: 0px;
}
#servicio_realizado-formset .forms .formset-form .form-group.servicio {
    width: 86%;
}
#producto_utilizado-formset,
#servicio_realizado-formset {
    margin-top: 15px;
}
#servicio_realizado-formset .forms .formset-form .form-group.observaciones,
#producto_utilizado-formset .forms .formset-form .form-group {
    margin-bottom: 0px;
}


.errores ul.sugerencias {
    list-style-type: none;
}


#formulario-filtrar-practicas .form-group {
    margin-bottom: 5px;
    width: 90%;
}
#filtrar-practicas {
    padding: 10px;
    border-style: solid;
    border-color: #DDD;
    border-width: 0.5px 0px 0.5px 0px;
    margin-bottom: 15px;
}




.detalles {
    width: 100%;
    min-width: 400px;
}
.detalles caption {
    padding-left: 5px;
    font-weight: 700;
    color: #BBB;
    border-top: 1px solid #BBB;
    border-left: 1px solid #BBB;
    border-right: 1px solid #BBB;
}
.detalles col.cantidad,
.detalles col.precio,
.detalles col.importe {
    width: 13%;
    text-align: right !important;
}
.detalles col.descripcion {
    text-align: left;
}
.detalles thead {
    border-top: 1px solid #BBB;
}
.detalles tbody {
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
}
.detalles col {
    border-left: 1px solid #BBB;
}
.detalles col:last-child {
    border-right: 1px solid #BBB;
}
.detalles tr:last-child {
    border-top: 1px solid #BBB;
}
.detalles td:nth-child(1),
.detalles td:nth-child(2),
.detalles td:nth-child(4){
    text-align: right;
}
.detalles th {
    text-align: center;
}
.detalles th,
.detalles td{
    padding: 5px;
}

.marco {
    margin-bottom: 15px;
    padding: 15px;
}

.paginas {
    text-align: center;
}

form#completar-presupuesto .col-sm-4,
form#completar-presupuesto .col-sm-8 {
    padding-top: 5px; 
    padding-bottom: 5px; 
}
form#completar-presupuesto .col-sm-4{
    text-align: right; 
}