.servicioSecciones {
  padding: 0px;
  margin-top: 0px;
  text-align: right;
}

.servicioTitulo {
  margin-top: 10px;
  margin-bottom:3px;
  font-weight: normal;
}

.servicioSubtitulo {
  margin: 3px 0px 20px 0px;
  font-style: italic;
  color: #555;
}

.servicioLineaTitulo {
  border-bottom: 1px solid #DDD;
}

.servicioCuerpo {
  padding: 0px;
  margin-top: 5px;
}

#servicioHabilitadosCrear {
  clear: both;
  margin-bottom: 10px;
}

.servicioEtiqueta {
  text-align: left;
  font-weight: bold;
  margin: 0px 0px 5px 0px;
  padding: 0px;
}

.servicio-aviso-eliminacion {
  text-align: center;
  text-weight: bold;
  margin: 20px 0px 20px 0px;
}

.servicio-item-acciones a {
  margin: 10px 0px 10px 0px;
}

.servicio-accion-listado {
  font-size: 110%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.servicio-accion-listado:hover {
  text-decoration: none;
}

.servicioListado thead {
  background-color: transparent;
  color: #2A3F54;
}

.servicio-listado,
.servicio-listado thead,
.servicio-listado thead tr,
.servicio-listado thead tr th,
.servicio-listado tbody,
.servicio-listado tbody tr,
.servicio-listado tbody tr, {
  border: 0px solid #FFF;
}

table.table.servicioListado {
  border: 0px solid #FFF;
}

.servicio-listado>tbody>tr>td {
    padding-top: 9px;
    padding-left: 4px;
    border-top: 1px solid #DDD !important;
}
