
<div class="tipoDeAtencion-item-acciones">

        {% if seccion != 'ver' %}
        <a  class="btn btn-sm btn-default" href="{% url 'tiposDeAtencion:tipoDeAtencionVer' item.id %}">Ver</a>
        {% endif %}

        {% if seccion != 'modificar' %}
        <a  class="btn btn-sm btn-default" href="{% url 'tiposDeAtencion:tipoDeAtencionModificar' item.id %}">Modificar</a>
        {% endif %}

        {% if item.baja == False %}
            <a  class="btn btn-sm btn-default" href="{% url 'tiposDeAtencion:tipoDeAtencionDeshabilitar' item.id %}">Deshabilitar</a>
        {% else %}
            <a  class="btn btn-sm btn-default" href="{% url 'tiposDeAtencion:tipoDeAtencionHabilitar' item.id %}">Habilitar</a>
        {% endif %}

</div>
