{% extends 'GestionDeTiposDeAtencion/tda.html' %}

{% block titulo %}
Gestion de Tipos de Atencion | Crear Tipo de Atencion
{% endblock %}

{% block tda-titulo %}
Nuevo Tipo de Atencion
{% endblock %}

{% block tda-subtitulo %}
Agrega un tipo de atencion al listado
{% endblock %}

{% block tda-contenido %}

    <div class="tda-cuerpo">

        <form class="form-horizontal formulario" action="{% url 'GestionDeTiposDeAtencion:crear' %}" method="post">

            {% csrf_token %}

            {% include 'formularios/snippet.html' with campos=formulario accion="Crear" %}

        </form>
    </div>

{% endblock %}
