{% extends 'GestionDeTiposDeAtencion/tipoDeAtencion.html' %}

{% block titulo %}
Gestion de Tipos de Atencion | Crear Tipo de Atencion
{% endblock titulo %}

{% block tipoDeAtencionTitulo %}
Nuevo Tipo de Atencion
{% endblock tipoDeAtencionTitulo %}

{% block tipoDeAtencionSubtitulo %}
Agrega un tipo de atencion al listado
{% endblock tipoDeAtencionSubtitulo %}

{% block tipoDeAtencionContenido %}

    <div class="tipoDeAtencionCuerpo">

        <form class="form formulario" action="{% url 'tiposDeAtencion:tipoDeAtencionCrear' %}" method="post">

            {% csrf_token %}

            {% include './formularioSnippet.html' with campos=formulario %}

            <button type="submit" class="btn btn-sm btn-default">Crear</button>

        </form>
    </div>

{% endblock tipoDeAtencionContenido %}
