{% extends 'GestionDeTiposDeAtencion/GestionDeTiposDeAtencion.html' %}

{% block titulo %}
Gestion de Tipos de Atencion | Ver Deshabilitados
{% endblock %}

{% block tituloSeccion %}
Tipos de Atencion Deshabilitados
{% endblock %}

{% block subtitulo %}
Actualmente no disponibles para ser asignados a practicas
{% endblock %}

{% block secciones %}
{% include './snippets/secciones.html' with pagina='ver_deshabilitados' %}
{% endblock %}

{% block contenido %}

    {% if gestor.numero_items %}

        {% include "./snippets/listado.html" %}

    {% else %}

        <p><strong>No hay tipos de atencion deshabilitados</strong></p>

    {% endif %}

{% endblock %}
