{% extends 'GestionDeTiposDeAtencion/GestionDeTiposDeAtencion.html' %}

{% block titulo %}
Gestion de Tipos de Atencion | Ver Deshabilitados
{% endblock %}

{% block tituloSeccion %}
Tipos de Atencion Deshabilitados
{% endblock %}

{% block subtitulo %}
Actualmente <strong>no</strong> disponibles para ser asignados a practicas
{% endblock %}

{% block secciones %}
{% include './snippets/secciones.html' with pagina='ver_deshabilitados' %}
{% endblock %}

{% block contenido %}

{% load navigation_filters %}

    <p> Los siguientes tipos de servicio pueden ser habilitados o eliminados.  </p>

{% if tiposDeAtencion %}
    <div class="table-responsive" id="tabla">
        <table class="table listado">
            <thead>
                <tr>
                    <th id="deshabilitados-nombre">Nombre</th>
                    <th id="deshabilitados-descripcion">Descripcion </th>
                    <th id="deshabilitados-lugar">Lugar </th>
                    <th id="deshabilitados-franjaHoraria">Franja Horaria </th>
                    <th id="deshabilitados-emergencia">Emergencia </th>
                    <th id="deshabilitados-acciones">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for tipoDeAtencion in tiposDeAtencion %}
                <tr>
                    <td>
                        <a  href="{% url 'tiposDeAtencion:ver' tipoDeAtencion.id %}">
                            {{ tipoDeAtencion.nombre }}
                        </a>
                    </td>
                    <td>{{ tipoDeAtencion.descripcion|truncatechars:40 }}</td>
                    <td>{{ tipoDeAtencion.lugar}}</td>
                    <td>{{ tipoDeAtencion.inicioFranjaHoraria }} a {{ tipoDeAtencion.finFranjaHoraria }}</td>
                    <td> {% if tipoDeAtencion.emergencia == True %} Si {% else %} No {% endif %}</td>
                    <td >
                        <p align="center">
                            <a href="{% url 'tiposDeAtencion:modificar' tipoDeAtencion.id %}" class="btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-edit"> </i>
                            </a>
                            <a href="{% url 'tiposDeAtencion:habilitar' tipoDeAtencion.id %}" class="btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-plus"> </i>
                            </a>
                            <a href="{% url 'tiposDeAtencion:eliminar' tipoDeAtencion.id %}" class="btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-remove"> </i>
                            </a>
                        </p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% else %}

    <p> No hay tipos de atencion habilitados</p>

{% endif %}
    <div align="center">
        <ul class="pagination pagination-sm">
            {% if tiposDeAtencion.has_previous %}
                <li><a href="?page={{ tiposDeAtencion.previous_page_number }}" class="btn btnpages">
                    <i class="glyphicon glyphicon-chevron-left"></i></a></li>
            {% endif %}

            {% for page in tiposDeAtencion.paginator.page_range|page_filter:tiposDeAtencion %}
                <li class="{% if tiposDeAtencion.number == page %}active{% endif %}">
                    <a class="btn btnpages" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}

            {% if tiposDeAtencion.has_next %}
                <li>
                    <a href="?page={{ tiposDeAtencion.next_page_number }}" class="btn btnpages">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

{% endblock %}
