{% extends 'GestionDeTiposDeAtencion/GestionDeTiposDeAtencion.html' %}

{% block titulo %}
Gestion de Tipos de Atencion | Eliminar Tipo de Atencion
{% endblock %}

{% block tituloSeccion %}
Eliminar Tipo de Atencion
{% endblock %}

{% block subtitulo %}
Elimina permanentemente los datos del tipo de atencion del sistema
{% endblock %}

{% block contenido %}

    <p> Confirmar eliminacion: </p>

    <form class="form" action="{{ request.path }}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-default center-block">Eliminar</button>
    </form>

{% endblock %}
