{% extends 'GestionDeTiposDeAtencion/GestionDeTiposDeAtencion.html' %}

{% block titulo %}
Gestion de Tipos de Atencion | Eliminar Tipo de Atencion
{% endblock %}

{% block tituloSeccion %}
Eliminar Tipo de Atencion
{% endblock %}

{% block subtitulo %}
Elimina permanentemente los datos del tipo de atencion del sistema
{% endblock %}

{% block contenido %}

    <p>Tipo de atencion eliminado.</p>

    <ul>
        <li><a href="{% url "tiposDeAtencion:habilitados" %}">Ver tipos de atencion habilitados</a></li>

        <li><a href="{% url "tiposDeAtencion:crear" %}">Crear nuevo tipo de atencion</a></li>
    </ul>


{% endblock %}
