{% for campo in campos %}

    <div class="form-group {% if campo.errors %}has-error{% endif %}">

        <label for="{{ campo.id_for_label }}" class="col-sm-4 control-label etiqueta">
            {{ campo.label }}
        </label>
        <div class="col-sm-8">

            {{ campo }}

            <div class="campo-errores"  {% if not campo.errors %}style="display:none;"{% endif %}>
                {% for error in campo.errors %} <span  class="help-block">{{ error }}</span> {% endfor %}
            </div>

        </div>

        <span style="display:none;" class="help-block">{{ campo.help_text }}</span>
        </div>

{% endfor %}

