{% extends 'GestionDeTiposDeAtencion/GestionDeTiposDeAtencion.html' %}

{% block titulo %}
Gestion de Tipos de Atencion | Ver Habilitados
{% endblock %}

{% block tituloSeccion %}
Tipos de Atencion Habilitados
{% endblock %}

{% block subtitulo %}
Actualmente disponibles para ser asignados a practicas
{% endblock %}

{% block secciones %}
{% include './snippets/secciones.html' with pagina='ver_habilitados' %}
{% endblock %}

{% block contenido %}
    {% if gestor.numero_items %}

        {% include "./snippets/listado.html" %}

    {% else %}

        <p><strong>No hay tipos de atencion habilitados</strong></p>

    {% endif %}
<div class="menu-colapsable" >
    <div class="item-colapsable" >
        <a role="button" href="#tipodeatencion-acciones" data-toggle="collapse">
            <i class="glyphicon glyphicon-tasks"></i>
            <span>Acciones</span>
        </a>
        <div class="contenido-colapsable collapse in" id="tipodeatencion-acciones">
            <ul class="acciones sinestilo">

                <li><a  class="btn btn-sm btn-default" href="{% url 'tiposDeAtencion:crear' %}">Crear nuevo tipo de atencion</a></li>

            </ul>
        </div>
    </div>
</div>

{% endblock %}

