{% extends 'GestionDeTiposDeAtencion/GestionDeTiposDeAtencion.html' %}

{% block titulo %}
Gestion de Tipos de Atencion | Ver Habilitados
{% endblock %}

{% block tituloSeccion %}
Tipos de Atencion Habilitados
{% endblock %}

{% block subtitulo %}
Actualmente disponibles para ser asignados a practicas
{% endblock %}

{% block secciones %}
{% include './snippets/secciones.html' with pagina='ver_habilitados' %}
{% endblock %}

{% block contenido %}

    <p> Los siguientes tipos de servicio estan habilitados.  </p>

{% if tiposDeAtencion %}
    <div class="table-responsive" id="tabla">
        <table class="table listado">
            <thead>
                <tr>
                    <th id="deshabilitados-nombre">Nombre</th>
                    <th id="deshabilitados-descripcion">Descripcion </th>
                    <th id="deshabilitados-acciones">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for tipoDeAtencion in tiposDeAtencion %}
                <tr>
                    <td>
                        <a  href="{% url 'tiposDeAtencion:ver' tipoDeAtencion.id %}">
                            {{ tipoDeAtencion.nombre }}
                        </a>
                    </td>
                    <td>{{ tipoDeAtencion.descripcion|truncatechars:40 }}</td>
                    <td> <p align="center">
                        <a href="{% url 'tiposDeAtencion:modificar' tipoDeAtencion.id %}" class="btn btn-xs btn-default">
                            <i class="glyphicon glyphicon-edit"> </i>
                        </a>
                        <a href="{% url 'tiposDeAtencion:deshabilitar' tipoDeAtencion.id %}" class="btn btn-xs btn-default">
                            <i class="glyphicon glyphicon-minus"> </i>
                        </a>
                    </p> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% else %}

    <p> No hay tipos de atencion habilitados</p>

{% endif %}

    <a class="btn btn-sm btn-default" href="{% url 'tiposDeAtencion:crear' %}"> Crear </a>

{% endblock %}

