{% extends 'GestionDeTiposDeAtencion/tipoDeAtencion.html' %}

{% block titulo %}
Gestion de Tipos de Atencion | Modificar Tipo de Atencion
{% endblock %}

{% block tipoDeAtencionTitulo %}
Modificar Tipo de Atencion
{% endblock %}

{% block tipoDeAtencionSubtitulo %}
Permite cambiar datos relacionados al tipo de atencion
{% endblock %}

{% block tipoDeAtencionContenido %}

    {% include './accionesSnippet.html' with item=tipoDeAtencion seccion='modificar' %}

    <div class="tipoDeAtencionCuerpo">
            <form class="form formulario" action="{% url 'tiposDeAtencion:tipoDeAtencionModificar' tipoDeAtencion.id  %}" method="post">

                {% csrf_token %}

                {% include './formularioSnippet.html' with campos=formulario %}

                <button type="submit" class="btn btn-sm btn-default">Modificar</button>

            </form>
    </div>

{% endblock %}
