{% extends 'GestionDeTiposDeAtencion/tiposdeatencion.html' %}

{% block titulo %}
Gestion de Tipos de Atencion | Modificar Tipo de Atencion
{% endblock %}

{% block tda-titulo %}
Modificar Tipo de Atencion
{% endblock %}

{% block tda-subtitulo %}
Permite cambiar datos relacionados al tipo de atencion
{% endblock %}

{% block tda-contenido %}

    {% include './acciones_snippet.html' with item=tipoDeAtencion seccion='modificar' %}

    <div class="tda-cuerpo">
            <form class="form-horizontal formulario" action="{% url 'tiposDeAtencion:modificar' tipoDeAtencion.id  %}" method="post">

                {% csrf_token %}

                {% include "formularios/snippet.html" with formulario=formulario accion="Modificar" %}

            </form>
    </div>

{% endblock %}
