
<div class="tipoDeAtencion-secciones">

        <a id="tipoDeAtencion-link-habilitados" class="btn btn-sm btn-default {% if pagina == 'tiposDeAtencion:tipoDeAtencionVerHabilitados' %} disabled {% endif %}"  href="{% url 'tiposDeAtencion:tipoDeAtencionVerHabilitados' %}"> Habilitados </a>

        <a id="tipoDeAtencion-link-deshabilitados" class="btn btn-sm btn-default {% if pagina == 'tiposDeAtencion:tipoDeAtencionVerDeshabilitados' %} disabled {% endif %}"  href="{% url 'tiposDeAtencion:tipoDeAtencionVerDeshabilitados' %}"> Deshabilitados </a>

</div>
