{% extends 'index.html' %}
{% load static %}

{% block pagina-estilos %}
{{ block.super }}
    <link href="{% static 'GestionDeTiposDeAtencion/css/tda.css' %}" rel="stylesheet">
{% endblock %}


{% block pagina-seccion-general %}

        <section>
        {% block secciones %}
        {% include './secciones_snippet.html' with pagina='default' %}
        {% endblock %}

        <h4 class="tda-titulo">
            {% block tda-titulo %}
            {% endblock %}
        </h4>
        <div class="tda-linea-titulo"></div>
        <p class="tda-subtitulo">
            {% block tda-subtitulo %}
            {% endblock %}
        </p>

        {% block tda-contenido %}
        {% endblock tda-contenido %}
        </section>

{% endblock %}

