{% extends 'sitioBase.html' %}
{% load static %}

{% block paginaEstilos %}
{{ block.super }}
    <link href="{% static 'GestionDeTiposDeAtencion/css/tda.css' %}" rel="stylesheet">
{% endblock %}


{% block paginaSeccionGeneral %}
    <section>
        {% block secciones %}

        {% endblock %}

        <h4 class="titulo">
            {% block tituloSeccion %}
            {% endblock %}
        </h4>
        <br>
        <div class="linea-titulo"></div>
        <p class="subtitulo">
            {% block subtitulo %}
            {% endblock %}
        </p>

    {% block contenido %}
    {% endblock contenido %}
    </section>

{% endblock %}

{% block footer %}
  <p>Para mas información de los tipo de atencion haga click aquí<p>
{% endblock footer %}
