{% extends 'sitioBase.html' %}
{% load static %}

{% block paginaEstilos %}
{{ block.super }}
    <link href="{% static 'GestionDeTiposDeAtencion/css/tipoDeAtencion.css' %}" rel="stylesheet">
{% endblock paginaEstilos %}


{% block paginaSeccionGeneral %}

        <section>
        {% block secciones %}
        {% include './seccionesSnippet.html' with pagina='default' %}
        {% endblock %}

        <h4 class="tipoDeAtencionTitulo">
            {% block tipoDeAtencionTitulo %}
            {% endblock tipoDeAtencionTitulo%}
        </h4>
        <div class="tipoDeAtencionLineaTitulo"></div>
        <p class="tipoDeAtencionSubtitulo">
            {% block tipoDeAtencionSubtitulo %}
            {% endblock tipoDeAtencionSubtitulo %}
        </p>

        {% block tipoDeAtencionContenido %}
        {% endblock tipoDeAtencionContenido %}
        </section>

{% endblock paginaSeccionGeneral %}
