{% extends 'GestionDeTiposDeAtencion/tipoDeAtencion.html' %}

{% block titulo %}
Gestion de Tipos de Atencion | Ver Tipo de Atencion
{% endblock %}

{% block tipoDeAtencionTitulo %}
Ver Tipo de Atencion
{% endblock %}

{% block tipoDeAtencionSubtitulo %}
Muestra datos del tipo de atencion
{% endblock %}

{% block tipoDeAtencionContenido %}

    {% include './accionesSnippet.html' with item=tipoDeAtencion seccion='ver' %}

    <div class="tipoDeAtencionCuerpo">

        {% if tipoDeAtencion %}
        <div class="well">
            <p>Identificador: {{ tipoDeAtencion.id }}</p>
            <p>Nombre: {{ tipoDeAtencion.nombre }} ({% if tipoDeAtencion.baja %} Deshabilitado {% else %} Habilitado {% endif %})</p>
            <p>Descripcion: {{ tipoDeAtencion.descripcion }}</p>
            <p>Lugar de atencion: {{ tipoDeAtencion.lugar_str }}</p>
            <p>Emergencia: {% if tipoDeAtencion.emergencia %} Si {% else %} No {% endif %}</p>
            <p>Tipo de servicio: {{ tipoDeAtencion.tipo_de_servicio_str }}</p>
            <p>Franja horaria: de {{ tipoDeAtencion.inicio_franja_horaria }} a {{ tipoDeAtencion.fin_franja_horaria }}</p>
            <p>Recargo: {{ tipoDeAtencion.recargo|floatformat:"-2" }}%</p>
        </div>
        {% else %}

            <p> El tipo de atencion no existe </p>

        {% endif %}


    </div>

{% endblock %}
