<div class="facturaItemAcciones">

        {% if seccion == 'ver' %}
        <a  class="btn btn-sm btn-default" href="{% url 'facturas:facturaVer' item.id %}">Ver</a>
        {% endif %}

        {% if seccion != 'modificar' %}
        <a  class="btn btn-sm btn-default" href="{% url 'facturas:facturaModificar' item.id %}">Modificar</a>
        {% endif %}

        {% if item.baja == False %}
            <a  class="btn btn-sm btn-default" href="{% url 'facturas:facturaDeshabilitar' item.id %}">Deshabilitar</a>
        {% else %}
            <a  class="btn btn-sm btn-default" href="{% url 'facturas:facturaHabilitar' item.id %}">Habilitar</a>
        {% endif %}

</div>