{% extends 'GestionDeFacturas/GestionDeFacturas.html' %}
{% load static %}

{% block titulo %}
Facturacion
{% endblock %}

{% block facturaTitulo %}
Facturacion
{% endblock %}

{% block facturaContenido %}

    {% include "snippets/errores.html" %}

    {% if accion %}

    {% if practica.adelanto %}
        <p> Importe pago: ${{ practica.adelanto.importe|floatformat:2 }}</p>
    {% endif %}

    <form id="form-facturar" class="form-horizontal formulario" action="{{ request.path }}" method="POST" onsubmit="validar(event);">

            {% csrf_token %}

            <div id="form-facturar-errores">
                {% if form.errors or formset.total_error_count %}
                    <div class="errores">
                        <strong>Por favor revise los siguientes errores:</strong>
                        <ul>
                            {% include 'snippets/formErrores.html' %}
                            {% include 'snippets/formsetErrores.html' %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            {% include "snippets/form.html" with accion=None %}

            <div class="form-group productos">
                <div class="row productos">
                    <label for="formset-productos" class="col-sm-4 control-label etiqueta">
                        Productos
                    </label>
                    <div class="col-sm-8" id="formset-productos">
                        {% include "snippets/formset.html" with titulo="" %}
                    </div>
                </div>
            </div>

            <div class="form-group accion">
                <div class="row accion">
                    <div class="col-sm-offset-4 col-sm-8" id="accion">
                        <button type="submit" class="btn btn-sm btn-default" >{{ accion }}</button>
                    </div>
                </div>
            </div>

    </form>
    {% endif %}

{% endblock %}

{% block paginaJavascript %}
    {{ block.super }}
    <script type="text/javascript">
        var validadores = [
            {
                "validador" : validarFormset,
                "argumentos" : {
                    "comparador" : compararProductos,
                    "formset_id" : "{{ formset.prefix }}-formset",
                    "errores" : document.getElementById("form-facturar-errores"),
                }
            }
        ]

        document.onreadystatechange = function(){
            var productos = document.getElementById('{{ formset.prefix }}-formset');
            actualizarEliminar(productos);
        }
    </script>

{% endblock %}
