{% extends 'GestionDeFacturas/GestionDeFacturas.html' %}
{% load static %}

{% block titulo %}
Gestion de Facturas | Crear Facturas
{% endblock %}

{% block facturaTitulo %}
Nueva Factura
{% endblock %}

{% block facturaSubtitulo %}
Agrega una Factura al listado
{% endblock %}

{% block facturaContenido %}

    <div class="facturaCuerpo">
        <form class="form-horizontal formulario" action="" method="post">

            {% csrf_token %}

            {% include 'formularios/snippet.html' with campos=formulario accion="Guardar Datos" accion2=""%}

        </form>
    </div>

{% endblock %}