{% extends "sitioBase.html" %}
{% load static %}

{% block paginaEstilos %}
  {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/GestionDeFacturas.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" >
{% endblock paginaEstilos %}

{% block paginaSeccionGeneral %}
  <section>
    {% block secciones %}

    {% endblock %}
    <br>
    <h4 class="facturaTitulo">
      {% block facturaTitulo %}
      {% endblock facturaTitulo %}
    </h4>
    <br>
    <div class="facturaLineaTitulo"> </div>

    <p class="facturaSubtitulo">
        {% block facturaSubtitulo %}
      {% endblock facturaSubtitulo%}
    </p>

  {% block facturaContenido %}
  {% endblock facturaContenido %}

  </section>
  

{% endblock paginaSeccionGeneral %}


{% block footer %}
  <p>Para mas información de las Facturas haga click aquí<p>
{% endblock footer %}

{% block paginaJavascript %}
    {{block.super}}
    <script src="{% static 'js/gestion-facturas.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/es.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js'%}"></script>
{% endblock paginaJavascript%}
