{% extends 'GestionDeFacturas/GestionDeFacturas.html' %}

{% block titulo %}
Gestion de Facturas | Ver Habilitados
{% endblock %}

{% block facturaTitulo %}
Facturas Emitidas
{% endblock %}

{% block facturaSubtitulo %}
{% endblock %}

{% block secciones %}
{% endblock %}

{% block facturaContenido %}

{% load navigation_filters %}
<!-- Listado -->
<div class="facturaCuerpo" >

       <div id="filtrarFacturasForm">
        <a role="button" href="#filtrarFacturas" data-toggle="collapse">
            <i class="glyphicon glyphicon-tasks"></i>
            <span>Criterios de busqueda</span>
        </a>
        <div id="filtrarFacturas" class="collapse in">
            <form class="form-horizontal filtrado" action="" method="GET">
                <!--{% include "formularios/snippet.html" with formulario=form accion="Filtrar" %}-->
                    <div align="justify">
                        <form action="" method="GET">
                            <br>
                            <input name="tipo" placeholder="Tipo">
                            <input name="cliente" placeholder="Cliente">
                            <input name="Fecha" placeholder="Fecha">

                          <button class="btn btn-default filtrar" type="submit">Filtrar</button>
                        </form>
                    </div>
            </form>
        </div>
    </div>
    <br>
    <div class="facturaLineaTitulo"> </div>
    <br>


    <form class="form-inline listado" action="{{ request.get_full_path }}" method="GET">
      <div class="hidden orden-listado">
          {% for field in gestor.formOrden %}
              {{ field }}
          {% endfor %}
          {{ gestor.formPagina.desde }}
      </div>
      <div class="sombreado">
          {{ gestor.formPagina.resultados }}
          <button class="btn btn-default filtrar" type="submit">Mostrar</button>
          <table class="table table-bordered table-responsive items">
            <colgroup>
               <!-- <col span="ID"/> -->
               <!-- <col class="columna" columna "activa"/> -->
              <col class="columna{% if gestor.encabezado.orden_tipo.activa %} activa{% endif %}"/>
              <col class="columna{% if gestor.encabezado.orden_cliente.activa %} activa{% endif %}"/>
              <col class="columna{% if gestor.encabezado.orden_fecha.activa %} activa{% endif %}"/>
              <col class="columna{% if gestor.encabezado.orden_recargo.activa %} activa{% endif %}"/>
              <col class="columna{% if gestor.encabezado.orden_descuento.activa %} activa{% endif %}"/>
              <col class="columna{% if gestor.encabezado.orden_total.activa %} activa{% endif %}"/>
            </colgroup>
            <thead>
              <tr>
                 <th>{% include "snippets/encabezado.html" with columna=gestor.encabezado.orden_tipo %}</th>
                <th>{% include "snippets/encabezado.html" with columna=gestor.encabezado.orden_cliente %}</th>
                <th>{% include "snippets/encabezado.html" with columna=gestor.encabezado.orden_fecha %}</th>
                <th>{% include "snippets/encabezado.html" with columna=gestor.encabezado.orden_recargo %}</th>
                <th>{% include "snippets/encabezado.html" with columna=gestor.encabezado.orden_descuento %}</th>
                <th>{% include "snippets/encabezado.html" with columna=gestor.encabezado.orden_total %}</th>
              </tr>
            </thead>
            <tbody>
                {% for factura in gestor.items_actuales %}
                    <tr>
                        <td>
                            <a href="{% url 'facturas:facturaVer' factura.id %}">
                                {{ factura.tipo }}</a>
                        </td>
                        <!-- <td>{{factura.tipo}}</td> -->
                        <td>{{ factura.cliente }}</td>

                        <td>{{ factura.fecha }}</td>

                         <td>% {{ factura.recargo }}</td>

                         <td>% {{ factura.descuento }}</td>

                         <td>% {{ factura.total }}</td>

                        <!-- <td>{{ tipoDeAtencion.inicioFranjaHoraria|date:"H:i" }} hs. a {{ tipoDeAtencion.finFranjaHoraria|date:"H:i" }} hs.</td> -->
                    </tr>
                {% endfor %}
            </tbody>
          </table>
      </div>
      <div>
      {% include "snippets/paginacion.html" with links=gestor.paginas%}
      </div>
    </form>








    <br>

    {% if facturas %}
            <div class="table-responsive" id="tabla">
                <table class="table facturaListado">
                    <thead>
                        <tr>
                            <th id="deshabilitados-tipo"> Tipo </th>
                            <th id="deshabilitados-cliente"> Cliente </th>
                            <th id="deshabilitados-fecha"> Fecha </th>
                            <th id="deshabilitados-total"> Total </th>
                            <th id="deshabilitados-pagada"> Pagada </th>
                            <th id="deshabilitados-acciones"> Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for factura in facturas %}
                            <tr>
                                <td> <p>{{ factura.tipo}}</p></td>
                                <td> <p>{{ factura.cliente }}</p></td>
                                <td> <p>{{ factura.fecha }}</p></td>
                                <td> <p>{{ factura.total }}</p></td>
                                <td> {% if factura.pago %} Si {% else %} No {% endif %}</td>
                                <td> <p align="justify">
                                        <a  href="{% url 'facturas:facturaVer' factura.id %}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" title="Ver esta factura.">
                                            <i class="glyphicon glyphicon-eye-open"> </i>
                                        </a>
                                </p> </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

    {% else %}

        <p> No hay facturas emitidas</p>

    {% endif %}
    <div align="center">
        <a  id ="facturaHabilitadosCrear" class="btn btn-sm btn-default" href="{% url 'facturas:facturaCrear' %}"> Crear </a>
    </div>


    <div align="center">
        <ul class="pagination pagination-sm">
            {% if facturas.has_previous %}
                <li><a href="?page={{ facturas.previous_page_number }}" class="btn btnpages">
                    <i class="glyphicon glyphicon-chevron-left"></i></a></li>
            {% endif %}

            {% for page in facturas.paginator.page_range|page_filter:facturas %}
                <li class="{% if facturas.number == page %}active{% endif %}">
                    <a class="btn btnpages" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}

            {% if facturas.has_next %}
                <li>
                    <a href="?page={{ facturas.next_page_number }}" class="btn btnpages">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

</div>

{% endblock %}
