{% extends 'GestionDeFacturas/GestionDeFacturas.html' %}

{% block titulo %}
Gestion de Facturas | Ver Factura
{% endblock %}

{% block secciones %}
{% endblock %}

{% block facturaTitulo %}
Ver Factura
{% endblock %}

{% block facturaSubtitulo %}
Datos del factura
{% endblock %}

{% block facturaContenido %}

    <div class="facturaCuerpo">

        {% if factura %}
        <div class=" col-md-12 well">
            <p>Identificador: {{ factura.id }}</p>
            <p>Tipo: {{factura.tipo}}</p>
            <p>Fecha: {{factura.fecha}}</p>
            <p>Cliente: {{ factura.cliente }} </p>
            <!-- Tabla para mostrar los detalles de la factura. -->
            <table class="table listado">
              <thead>
                <th>Productos:</th>
              </thead>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio por Unidad</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            {% for detalle in factura.detalles_producto.all %}
              <div class="col-xs-11">
                <td><p>{{detalle.producto.nombre}}</p>
                </td>
              </div>
              <div class="col-xs-1">
                <td><p align="justify"><p>{{detalle.precio}}</p>
                  </p>
                </td>
              </div>
              <div class="col-xs-1">
                <td><p align="justify"><p>{{detalle.cantidad}}</p>
                  </p>
                </td>
              </div>
              <div class="col-xs-1">
                <td><p align="justify"><p>{{detalle.subtotal}}</p>
                  </p>
                </td>
              </div>
            </tr>
            {% endfor %}
          <thead>
            <tr>
              <th>Total: {{ factura.total}}</th>
            </tr>
          </thead>
        </table>
        </div>
        {% else %}

            <p> La factura no existe </p>

        {% endif %}

    </div>

{% endblock facturaContenido %}
