.select2-dropdown,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--classic .select2-selection--single,
.select2-container--classic .select2-selection--single .select2-selection__arrow,
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow,
.select2-container--classic .select2-selection--multiple,
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    border-radius: 0px;
}
.select2-container--default .select2-results__option {
    color: #000 !important; 
}
.select2-container--default .select2-results__option:hover,
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #7A7A7A;
    color: #FFF !important; 
}
.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #7A7A7A;
}
.select2-container--classic .select2-selection--single:focus,
.select2-container--classic.select2-container--open .select2-selection--single,
.select2-container--classic .select2-selection--multiple:focus,
.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #7A7A7A;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.3;
    color: #555 !important;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif !important;
    font-size: 13px !important;
}

.select2-selection.select2-selection--single.form-control .select2-selection__rendered {
    padding-left: 0px;
}
.select2-selection.select2-selection--single.form-control {
    border-radius: 0px !important;
    border: 1px solid #DDD !important;
    -ms-box-shadow: 0 1px 0 #FFF, 0 -2px 5px rgba(0, 0, 0, 0.08) inset !important;
    -o-box-shadow: 0 1px 0 #FFF, 0 -2px 5px rgba(0, 0, 0, 0.08) inset !important;
    box-shadow: 0 1px 0 #FFF, 0 -2px 5px rgba(0, 0, 0, 0.08) inset !important;
}
.select2-selection.select2-selection--single.form-control:focus {
    border: 1px solid #777 !important;   
    -ms-box-shadow: 0 0 2px #777 inset !important;
    -o-box-shadow: 0 0 2px #777 inset !important;
    box-shadow: 0 0 2px #777 inset !important;
    color: #000 !important;
}
