
@media (min-width: 750px) {
    
    #sitio_seccion_principal {
        min-height: 300px;
    }

    #fila_centro {
        display: block;
    }
}
@media (min-width: 970px) {

    #sitio_seccion_principal {
        min-height: 400px;
    }

    #fila_centro {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -moz-box;
        display: flex;
    }
}
@media (min-width: 1170px) {

    #sitio_seccion_principal {
        min-height: 500px;
    }

    #fila_centro {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -moz-box;
        display: flex;
    }
}


body {
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
    color: #73879C;
    background-color: #F7F7F7;
}

h1 {
    font-size: 34px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: normal;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
}

a {
    text-decoration: none;
    color: #337ab7;
}
 
 a:hover,
 a:focus {
    text-decoration: none;
    color: #236aa7;
}

.well {
    background-color: #f7f7f7;
}

/*
                    Controles
*/

input,
textarea,
select {
    border-radius: 0px !important;
    border: 1px solid #DDD !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    color: #555 !important;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif !important;
    font-size: 13px !important;
    padding: 4px 6px 4px 6px !important;
    margin: 0px !important;
}

.form-horizontal input[type=text],
.form-horizontal input[type=email],
.form-horizontal input[type=password],
.form-horizontal input[type=number],
.form-horizontal select,
.form-horizontal textarea {
    width: 100% !important;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
select,
textarea {
    width: auto !important;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
select,
.select2-container--default .select2-selection--single, 
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection.select2-selection--single,
.select2-container--default .select2-selection.select2-selection--multiple {
    height: 34px !important;
    min-height: 34px !important;
    max-height: 34px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-top: 7px;
}

select[multiple] {
    height: auto !important;
}

input:focus,
textarea:focus,
select:focus {
    border: 1px solid #777 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    color: #000 !important;
}

.has-error input,
.has-error textarea,
.has-error select,
.has-error .select2.select2-container .select2-selection__rendered {
    color: #A94442 !important;
}

.has-error input,
.has-error textarea,
.has-error select,
.has-error .select2.select2-container {
    border: 1px solid #A94442 !important;
}

.has-error input:focus,
.has-error textarea:focus,
.has-error select:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    border: 1px solid #A94442 !important;
    color: #A94442 !important;
}

.select2-selection,
.select2.select2-container {
    width: 100% !important;
}

.select2-dropdown,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--classic .select2-selection--single,
.select2-container--classic .select2-selection--single .select2-selection__arrow,
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow,
.select2-container--classic .select2-selection--multiple,
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    border-radius: 0px;
}

.select2-container--default .select2-results__option {
    color: #000 !important; 
}

.select2-container--default .select2-results__option:hover,
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #7A7A7A;
    color: #FFF !important; 
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #7A7A7A;
}

.select2-container--classic .select2-selection--single:focus,
.select2-container--classic.select2-container--open .select2-selection--single,
.select2-container--classic .select2-selection--multiple:focus,
.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #7A7A7A;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.3;
    color: #555 !important;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif !important;
    font-size: 13px !important;
}

.select2-selection.select2-selection--single.form-control .select2-selection__rendered {
    padding-left: 0px;
}

.select2-selection.select2-selection--single,
.select2-selection.select2-selection--single.form-control {
    border-radius: 0px !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #DDD !important;
}

.select2-selection.select2-selection--single:focus,
.select2-selection.select2-selection--single.form-control:focus {
    border: 1px solid #777 !important;   
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    color: #000 !important;
}

.bootstrap-datetimepicker-widget table td.today:before {
  border-bottom-color: #555;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget table td span.active {
  background-color: #555;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
  border: 0px solid transparent;
  top: 0px;
  left: 0px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border: 0px solid transparent;
  top: 0px;
  left: 0px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
  border: 0px solid transparent;
  bottom: 0px;
  left: 0px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border: 0px solid transparent;
  bottom: 0px;
  left: 0px;
}

.bootstrap-datetimepicker-widget table td span,
.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th,
.bootstrap-datetimepicker-widget.dropdown-menu,
.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
  border-radius: 0px;
}

.bootstrap-datetimepicker-widget .btn,
.bootstrap-datetimepicker-widget a {
  color: #555;
}

.form-group .cuasi-control {
    height: 34px;
    border: 1px solid #DDD;
    color: #555;
    padding: 8px;
    overflow: hidden;
}

.input-group-addon {
    border-radius: 0px;
}

.btn {
    border-radius: 0px !important;    
}

.form-group {
    margin-bottom: 10px;
}

.form-horizontal input[type=checkbox] {
    margin-top: 10px !important;
}

.form-inline button {
    height: 34px !important;
    color: #555 !important;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif !important;
    font-size: 13px !important;
    padding: 4px 6px 4px 6px !important;
    margin: 0px !important;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

ul.form-control {
    height: auto !important;
    border-radius: 0px;
    list-style: none;
    padding: 0px;
    
}
ul.form-control label {
    margin: 5px 0px 0px 0px !important;
    font-weight: normal;
}
ul.form-control input.form-control[type="checkbox"] {
    width: auto !important;
    height: auto !important;
    margin: 0px 0px 0px 5px !important;
    display: inherit !important;
}

.input-group.date span.input-group-addon {
    padding: 0px 10px 0px 10px;
}

.form-horizontal div.etiqueta label {
  text-align: right;
}

form.formulario .control {
    padding-left: 26px;
}

/*
                    Layout general
*/

/* Header */

#sitio-encabezado {
    padding: 10px 10px 0px 10px;
}

#sitio-encabezado h2 {
    margin: 10px 0px 0px 10px;
    font-weight: bolder;
}

#sitio-navbar {
    border-bottom: 3px solid orange;
    margin: 0px;
    min-height: 0px;
}

#sitio-navbar>.navbar-nav {
    margin-top: 0px;
    margin-bottom: 0px;
}

#sitio-navbar>.navbar-nav>li,
#sitio-navbar>.navbar-nav>li.dropdown.open>.dropdown-menu {
    background-color: #F7F7F7 !important;
}

#sitio-navbar>.navbar-nav li>.usuario,
#sitio-navbar>.navbar-nav li>a {
    color: #555 !important;
}

#sitio-navbar>ul.nav>li.dropdown>a,
#sitio-navbar>ul.nav>li.dropdown>a:hover,
#sitio-navbar>ul.nav>li.dropdown>a:focus {
    background-color: transparent !important;
    font-weight: normal;
}

#sitio-navbar>.navbar-nav>li {
    text-align: center;
}

#sitio-navbar>.navbar-nav>li.open>.dropdown-menu {
    font-size: 13px;
    padding: 0px;
    border-radius: 0px;
    border: none;
    box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.2);
}

#sitio-navbar>.navbar-nav>li.dropdown>a.dropdown-toggle {
    padding: 5px 15px;
}

#sitio-navbar .navbar-nav>li.dropdown.open>.dropdown-menu>li {
    padding: 5px 0px;
}

#sitio-navbar>ul.nav>li.dropdown>a:hover,
#sitio-navbar>.navbar-nav>li.dropdown.open>.dropdown-menu>li>a:hover {
    color: #000 !important;
}

#sitio-navbar .navbar-nav>li.dropdown.open>.dropdown-menu>li .glyphicon,
#sitio-navbar .navbar-nav>li.dropdown.open>.dropdown-menu>li .fa {
    margin-right: 10px;
}

#sitio-navbar>.navbar-nav>li.dropdown.open>.dropdown-menu>li>div.usuario {
    padding: 3px 20px;
}

/* Menu izquierda */

#sitio_menu_izq {
    background-color: #2A3F54;
    padding: 0px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
}

#menu-margen {
    min-height: 35px;
}

#sitio_menu_izq #sidebar-menu {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#sitio_menu_izq #sidebar-menu .nav.child_menu {
    display: none;
}

#sitio_menu_izq #sidebar-menu .nav.side-menu > li {
    position: relative;
    display: block;
    cursor: pointer;
}

#sitio_menu_izq #sidebar-menu .nav.side-menu > li > a {
    margin-bottom: 6px;
}

#sitio_menu_izq #sidebar-menu .nav.child_menu li {
    padding-left: 36px;
}

#sitio_menu_izq div.navbar-header {
    background-color: inherit;
    color: #73879C;
    text-align: center;
}

#sitio_menu_izq div.navbar-header>button.navbar-toggle {
    margin: 0px;
    font-size: 21px;
    font-weight: bold;
    padding: 10px 15px;
    width: 100%;
    text-align: center;
}

#sitio_menu_izq div.navbar-header>button.navbar-toggle>.fa-navicon {
    margin-left: 13px;
}

#sitio_menu_izq #sidebar-menu>.menu_section {
    border-top: 1px solid #2A3F54;
}

#sitio_menu_izq #sidebar-menu .menu_section ul.nav.side-menu {
    margin-top: 0px;
}

#sitio_menu_izq #sidebar-menu .menu_section ul.nav.side-menu>li.active {
    border-right: 3px solid orange;
}

#sitio_menu_izq #sidebar-menu>.menu_section>ul.nav.side-menu>li.active>a,
#sitio_menu_izq #sidebar-menu>.menu_section>ul.nav.side-menu>li.active>a:hover,
#sitio_menu_izq #sidebar-menu>.menu_section>ul.nav.side-menu>li.active>a:focus {
    background: inherit;
    box-shadow: none;
}

#sitio_menu_izq #sidebar-menu .menu_section ul.nav.side-menu li.active>ul.nav.child_menu>li>a {
    line-height: 2.0;
}

#sitio_menu_izq #sidebar-menu .menu_section ul.nav.side-menu li.active>a,
#sitio_menu_izq #sidebar-menu .menu_section ul.nav.side-menu li.active>a:hover,
#sitio_menu_izq #sidebar-menu .menu_section ul.nav.side-menu li.active>a:focus,
#sitio_menu_izq #sidebar-menu .menu_section ul.nav.side-menu li.active>ul.nav.child_menu>li>a {
    color: #FFF;
}

#sitio_menu_izq #sidebar-menu .menu_section ul.nav.side-menu li.active>ul.nav.child_menu>li:focus,
#sitio_menu_izq #sidebar-menu .menu_section ul.nav.side-menu li.active>ul.nav.child_menu>li:hover {
    background: inherit;
}

#sitio_menu_izq #sidebar-menu .menu_section ul.nav.side-menu li.active>ul.nav.child_menu>li.current-page,
#sitio_menu_izq #sidebar-menu .menu_section ul.nav.side-menu li.active>ul.nav.child_menu>li.current-page:focus,
#sitio_menu_izq #sidebar-menu .menu_section ul.nav.side-menu li.active>ul.nav.child_menu>li.current-page:hover,
#sitio_menu_izq #sidebar-menu .menu_section ul.nav.side-menu .nav.child_menu li:hover,
#sitio_menu_izq #sidebar-menu .menu_section ul.nav.side-menu .nav.child_menu li.active {
    background-color: inherit;
}

#sitio_menu_izq #sidebar-menu .menu_section ul.nav.side-menu li.current-page>a {
    font-weight: bolder;
}

#sitio_menu_izq #sidebar-menu .menu_section ul.nav.side-menu li.current-page>i.glyphicon.glyphicon-chevron-right {
    color: #A3B7CC;
}

#sitio_menu_izq #sidebar-menu ul.nav>li>a,
#sitio_menu_izq #sidebar-menu ul.nav>li>a:hover,
#sitio_menu_izq #sidebar-menu ul.nav>li>a:focus{
    cursor: pointer;
    background: transparent;
    color: #F2F5F7;
    margin-left: 36px;
}
#sitio_menu_izq #sidebar-menu ul.nav>li>a:focus {
    color: #FFF;
    font-weight: bold;
}

#sitio_menu_izq #sidebar-menu ul.nav>li>i {
    float: left;
    margin-left:18px;
    margin-top:14px;
}

#sitio_menu_izq #sidebar-menu ul.nav>li.grupo>i,
#sitio_menu_izq #sidebar-menu ul.nav>li.grupo {
    cursor: initial;
    font-size: 16px;
}

#sitio_menu_izq #sidebar-menu ul.nav>li.grupo>div {
    margin-left: 36px;
    margin-bottom: 6px;
    padding: 10px 15px;
}


/* Seccion general */

#sitio_seccion_principal {
  padding-top: 15px;
}

#sitio_seccion_principal section {
    width: 100%;
    padding: 10px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;    
    opacity: 1;
    transition: all .2s ease;
    margin: 0px;
    color: #2D2D2D;
}

.cuadradito {
    height : 100px; 
    width : 100px; 
    display:table-cell;
    border: 1px solid black;
    background-color: #FFF;
}

.cuadradito:hover {
    background-color: #EEE;
}

/* Footer */

#sitio-piedepagina {
    text-align: right;
    color: #888;
    background-color: #FFF;
    min-height: 80px;
    padding: 20px 40px 20px 40px;
    margin: 0px;
}

#sitio-piedepagina p,
#sitio-piedepagina a {
    font-size: 90%;
}

/*
                    Login
*/

body.login section.principal {
    margin: 0px auto;
    margin-top: 10%;
    min-width: 300px;
    max-width: 350px;
    padding: 25px 0 0;
    text-align: center;
}

body.login section.principal form {
    margin: 40px 0px 40px 0px;
}

body.login #inputs input {
    width: 100% !important;
    margin: 0px 0px 10px 0px !important;
}



/*
                    Secciones
*/

.fila-acciones {
  padding: 10px 0px 10px 0px;
}


.secciones {
  padding: 0px;
  margin-top: 0px;
  text-align: right;
}

.subtitulo {
  margin: 3px 0px 20px 0px;
  font-style: italic;
  color: #555;
}

.linea-titulo {
  border-bottom: 1px solid #DDD;
}

.accion-listado {
  font-size: 110%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.accion-listado:hover {
  text-decoration: none;
}

table.detalles {
    width: 100%;
}
table.detalles caption {
    padding-left: 5px;
    font-weight: 700;
    color: #BBB;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}
table.detalles th {
    text-align: center;
}
table.detalles th,
table.detalles td{
    padding: 5px;
}
table.detalles col.cantidad,
table.detalles col.precio,
table.detalles col.importe {
    width: 13%;
}
table.detalles td:nth-child(1),
table.detalles td:nth-child(3),
table.detalles td:nth-child(4){
    text-align: right;
}
table.detalles tr.breve td:nth-child(1),
table.detalles tr.breve td:nth-child(2) {
    text-align: right;
}
table.detalles>tbody>tr.total {
    font-weight: bold;
}


/* Dashboard */

/*#imagenServicio {
  background-image: url('../images/servicio.jpg');
  background-size: contain;
}
#imagenProducto {
  background-image: url('../images/hueso.jpg');
  background-size: contain;
}
#imagenCliente {
  background-image: url('../images/cliente.jpg');
  background-size: contain;
}
#imagenMascota {
  background-image: url('../images/perro.jpg');
  background-size: contain;
}
#imagenCirugia {
  background-image: url('../images/cirugia.jpg');
  background-size: contain;
}
#imagenConsulta {
  background-image: url('../images/vacuna.jpg');
  background-size: contain;
}
#imagenTipoDeAtencion {
  background-image: url('../images/casa.jpg');
  background-size: contain;
}*/


/* Menus colapsables */

.menu-colapsable {
/*    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;*/
}
.sombreado,
.menu-colapsable .item-colapsable {
    background-color: #FDFDFD;
    border: 0.5px solid #DDD;
/*    padding: 10px;
    margin-bottom: 5px;*/
}
.menu-colapsable .item-colapsable .contenido-colapsable {
/*    margin-top: 10px;*/
}
.menu-colapsable ul {
/*    padding: 0px 5px 0px 5px;*/
}
.menu-colapsable ul>li>a.btn {
/*    width: 100%;
    margin-bottom: 5px;
    text-align: left;*/
}


/* Formset para detalles */

.formset .forms .form-group {
    margin: 0px !important;
    padding: 2px !important;
}
.formset .forms .formset-form{ 
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.formset .acciones {
    padding: 2px;
}
.formset .forms .form-group.eliminar a {
    color: #000;
    width: 100%;
    height: 34px !important;
    padding: 7px !important;
    margin: 0px !important;
    text-align: center;
    border: 1px solid #DDD;
}
.formset .forms .formset-form .form-group.eliminar a.disabled {
    color: #AAA; 
}
.formset .forms .formset-form .form-group.eliminar a.disabled:hover {
    cursor: default;
}


/* Otras */

.errores {
    padding: 15px 15px 5px;
    margin: 15px;
    background-color: #EDC;
    color: #A94442;
    border: solid 1px #A94442;
}

.errores ul {
    list-style-type: disc;
    padding-left: 15px;
}

.errores a {
    font-style: oblique;
    color: #A94442;
}

.errores a:hover {
    color: #670200;
}

.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px
}

ul.sinestilo {
    list-style: none;
    padding-left: 0px;
}

.cuadro {
    border: 0.5px solid #DDD;
    padding: 0px;
    margin-bottom: 10px;
}
.cuadro-titulo{
    border-bottom: 0.5px solid #DDD;
    padding: 6px;
    font-weight: bold;
}
.cuadro-contenido{
    border-style: none;
    padding: 6px 6px 6px 6px;
}
.cuadro.sinmargenes {
    margin: 0px;
}

/* Listados */

form.listado table.table.items thead tr th {
    border-top: 0px none;
    padding: 0px;
}

form.listado table.table.items thead tr th button.encabezado {
    border: medium none;
    width: 100% !important;
    height: 100% !important;
    min-height: 2.6em !important;
    padding: 0px !important;
    overflow-x: hidden;
    color: #2D2D2D !important;
}

form.listado table.table.items thead tr th button.encabezado:hover,
form.listado table.table.items tbody tr:hover {
    background-color: #F5F5F5; 
    color: #000;
}

form.listado table.table.items>thead .encabezado i.fa {
    margin-left: 5px;
}

form.listado table.table.items a{
    color: #2D2D2D;
}

form.listado table.table.items tbody tr.activa:hover{
    cursor: pointer; 
}

form.listado table.table {
    margin-bottom: 0px;
}
form.listado .form-inline > .row > .form-group  button,
form.listado .form-inline > .row > .form-group  input, 
form.listado .form-inline > .row > .form-group  select,
form.listado .form-inline > .row > .form-group  .input-group {
    width: 100% !important;
}
form.listado .form-inline > .row > .form-group > input[type=checkbox]{
    width: auto !important;
}
form.listado .form-inline > .fila.submit {
    text-align: right;

}
form.listado .resumen-resultados,
form.listado .sin-resultados {
    margin: 0px 10px;
}

form.listado .resumen-resultados,
form.listado .sin-resultados,
form.listado .table-responsive,
form.listado .paginacion,
form.listado .form-inline {
    margin-bottom: 15px;
}
form.listado .paginacion {
    text-align: center;
}
form.listado .form-inline .row.fila {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
form.listado .form-inline .fila.filtrado,
form.listado .form-inline .fila.seleccion, 
form.listado .form-inline .fila.submit .form-group,
form.listado .form-inline .fila.filtrado .form-group {
    padding: 3px;
}
form.listado .form-inline .fila.submit,
form.listado .form-inline .fila.boton-filtrado,
form.listado .form-inline .fila.boton-seleccion {
    padding: 5px 5px 0px 5px;
}
form.listado .form-inline .fila.submit {
    margin-bottom: 5px;
}
form.listado .form-inline .fila.boton-seleccion .columna,
form.listado .form-inline .fila.boton-filtrado .columna {
    padding: 0px;
}
form.listado .form-inline .fila.boton-filtrado a.boton,
form.listado .form-inline .fila.boton-seleccion a.boton {
    color: inherit;
    font-weight: bold;
}
form.listado .form-inline .fila.boton-filtrado a.boton>i.fa,
form.listado .form-inline .fila.boton-seleccion a.boton>i.fa {
    margin-right: 5px;
    font-size: 90%;
}



/* Ayuda contextual */

a.link-ayuda {
    color: #337AB7;
}

form.formulario .control a.link-ayuda {
    position: absolute;
    top: 5px;
    left: 12px;
    z-index: 1000;
    float: left;
}

a.link-ayuda:hover,
a.link-ayuda:focus {
    color: #236aa7;
}

.popover {
    background-color: #FFF;
    border-radius: 0px;
    box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.2);
}

.popover-content {
    padding: 6px;
}

.popover-content ul{
    padding-left: 20px;
    margin-bottom: 0px;
}



.dropdown.menu-contextual a {
    color: #2D2D2D;
}
.dropdown.menu-contextual>.dropdown-menu a {
    color: #555;
}
.dropdown.menu-contextual a:hover,
.dropdown.menu-contextual a:focus {
    color: #000;
}
.titulo>.dropdown.menu-contextual>a>i.fa {
    font-size: 75%;
}
.dropdown.menu-contextual>.dropdown-menu {
    min-width: 300px;
    box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #DDD;
    border-radius: 0px;
    padding: 10px 0px 10px 0px;
    background: #FFF;
    margin-top: 5px !important;
}
.dropdown.menu-contextual>.dropdown-menu>ul.seccion {
    box-shadow: none;
    border-radius: 0px;
    color: inherit;
    padding: 0px !important;
    margin: 0px !important;
    list-style: outside none none;
}
.dropdown.menu-contextual>.dropdown-menu>.seccion>li>a>.etiqueta {
    padding: 8px;
}
.dropdown.menu-contextual>.dropdown-menu>.separador {
    margin: 10px;
    border-bottom: 1px solid #DDD;
}



#sitio_seccion_principal section>.contenedor {
    padding: 15px 0px 25px 0px;
}




.resumen {
    color: #555;
}
.resumen>.bloque>.dato i.fa {
    margin-right: 5px;
}
.resumen>.bloque>.dato {
    padding: 5px 0px;
}
