{% extends 'GestionDeClientes/GestionDeClientes.html' %}
{% load static %}

{% block titulo %}
Gestion de Clientes | Crear Cliente
{% endblock %}

{% block clienteTitulo %}
Nuevo Cliente
{% endblock %}

{% block clienteSubtitulo %}
Agrega un Cliente al listado
{% endblock %}

{% block clienteContenido %}

    <div class="clienteCuerpo">
        <form class="form-horizontal formulario" action="" method="post">

            {% csrf_token %}

            {% include 'GestionDeClientes/snippetCliente.html' with campos=formulario accion="Guardar Datos"%}


        </form>
    </div>

{% endblock %}

{% block paginaJavascript %}
{% endblock paginaJavascript %}
