{% extends 'GestionDeClientes/GestionDeClientes.html' %}
{% load static %}

{% block paginaEstilos %}
    {{ block.super }}
    <link href="{% static "vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
    <link href="{% static "css/tema-datetimepicker.css" %}" rel="stylesheet">
{% endblock %}

{% block titulo %}
Gestion de Clientes | {{titulo}}
{% endblock %}

{% block tituloSeccion %}
{% if titulo == 1 %}
    Nuevo Cliente
{% endif %}
{% if titulo == 2 %}
    Modificar Cliente
{% endif %}
{% endblock %}

{% block subtitulo %}
{% if titulo == 1 %}
    Agrega un Cliente al listado
{% endif %}
{% if titulo == 2 %}
    Modifica datos del Cliente
{% endif %}
{% endblock %}

{% block contenido %}

    <div class="clienteCuerpo">
        <form class="form-horizontal formulario" action="" method="post">

            {% csrf_token %}

            {% include 'GestionDeClientes/snippetCliente.html' with campos=formulario accion="Guardar Datos"%}


        </form>
    </div>

{% endblock %}

{% block paginaJavascript %}
    {{block.super}}
    <script src="{% static 'js/gestion-clientes.js' %}"></script>
{% endblock paginaJavascript %}
