{% extends 'GestionDeClientes/GestionDeClientes.html' %}
{% load static %}

{% block titulo %}
Gestion de Clientes | {{titulo}}
{% endblock %}

{% block clienteTitulo %}
{% if titulo == 1 %}
    Nuevo Cliente
{% endif %}
{% if titulo == 2 %}
    Modificar Cliente
{% endif %}
{% endblock %}

{% block clienteSubtitulo %}
{% if titulo == 1 %}
    Agrega un Cliente al listado
{% endif %}
{% if titulo == 2 %}
    Modifica datos del Cliente
{% endif %}
{% endblock %}

{% block clienteContenido %}

    <div class="clienteCuerpo">
        <form class="form-horizontal formulario" action="" method="post">

            {% csrf_token %}

            {% include 'GestionDeClientes/snippetCliente.html' with campos=formulario accion="Guardar Datos"%}


        </form>
    </div>

{% endblock %}

{% block paginaJavascript %}
    {{block.super}}
    <script src="{% static 'js/gestion-clientes.js' %}"></script>
{% endblock paginaJavascript %}
