{% extends "sitioBase.html" %}
{% load static %}

{% block paginaEstilos %}
  {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/GestionDeClientes.css' %}">
{% endblock paginaEstilos %}

{% block paginaSeccionGeneral %}
  <section>

      {% block secciones %}

      {% endblock %}


    <h4 class="clienteTitulo">
      {% block clienteTitulo %}
      {% endblock clienteTitulo %}
    </h4>
    <br>
    <div class="clienteLineaTitulo"> </div>

    <p class="clienteSubtitulo">
      {% block clienteSubtitulo %}
      {% endblock clienteSubtitulo%}
    </p>

  {% block clienteContenido %}
  {% endblock clienteContenido %}
  </section>
{% endblock paginaSeccionGeneral %}


{% block footer %}
  <p>Para mas información  de los Clientes haga click aquí<p>
{% endblock footer %}

{% block paginaJavascript %}
    {{ block.super }}
{% endblock paginaJavascript %}