{% extends "sitioBase.html" %}
{% load static %}

{% block paginaEstilos %}
  {{ block.super }}
    <link rel="stylesheet" href="{% static 'GestionDeClientes/css/GestionDeClientes.css' %}">
{% endblock paginaEstilos %}

{% block paginaSeccionGeneral %}
  <section>
    {% block secciones %}
      {% include './seccionesSnippet.html' with pagina='default' %}
    {% endblock %}

    <h4 class="clienteTitulo">
      {% block clienteTitulo %}
      {% endblock clienteTitulo %}
    </h4>

    <div class="clienteLineaTitulo"> </div>

    <p class="clienteSubtitulo">
      {% block clienteSubtitulo %}
      {% endblock clienteSubtitulo%}
    </p>

  {% block clienteContenido %}
  {% endblock clienteContenido %}
  </section>
{% endblock paginaSeccionGeneral %}


{% block footer %}
  <p>Para mas información  de los Clientes haga click aquí<p>
{% endblock footer %}

{% block paginaJavascript %}
    {{ block.super }}
    <script src="{% static 'js/veterinaria-patagonica.js' %}"></script>

{% endblock paginaJavascript %}