{% extends 'GestionDeClientes/GestionDeClientes.html' %}
{% load static %}
{% block tituloSeccion %}
Reportes de Tipos de Clientes al {{ hoy|date:"d/m/Y" }}
{% endblock %}


{% block contenido %}

    <script src="{% static 'js/Chart.js' %}"></script>
    <script src="{% static 'vendor/jquery/js/jquery.js' %}"></script>

    <div>
        <p>
            Este grafico permite saber a que tipos de clientes se les facturo mas
             a lo largo de todo el sistema
        </p>
    </div>

    <div id="tipo-canvas" style="width:250; height: 250;">
        <canvas id="myChart" width="250" height="250"></canvas>
    </div>



    <script>
        let miCanvas = document.getElementById("myChart").getContext("2d");

        var cantidadC = "{{cantidadC}}"
        var cantidadE = "{{cantidadE}}"
        var chart = new Chart(miCanvas, {
            type: "doughnut",
            data:{
                labels:["Especial", "Comun"],
                datasets: [
                    {
                        label: "Mi grafica",
                        backgroundColor: ["#FF6384","#63FF84"],
                        borderColor: "rgb(100,200,255)",
                        data: [cantidadE,cantidadC]
                    }
                ]

            }
        }

        )
        $(function() {
        let mychart = $("#myChart");
        mychart.height(500);
        mychart.width(500);
        console.log("El alto del grafico es:",mychart.height());
        console.log("El ancho del grafico es: ",mychart.width());
        
        });
        
        

    </script>


{% endblock contenido %}