<!DOCTYPE html>
<html lang="en">
{% extends 'GestionDeClientes/GestionDeClientes.html' %}

{% block titulo %}
Gestion de Clientes | Ver Cliente
{% endblock %}

{% block clienteTitulo %}
Ver Cliente
{% endblock %}

{% block clienteSubtitulo %}
Muestra datos del cliente
{% endblock %}

{% block clienteContenido %}

    {% include './accionesSnippet.html' with item=cliente seccion='ver' %}

    <div class="clienteCuerpo">

        {% if cliente %}
        <div class="well">
            <p>Identificador: {{ cliente.id }}</p>
            <p>Tipo De Cliente: {{cliente.tipoDeCliente}} ({% if cliente.baja %}Deshabilitado{% else %}Habilitado{% endif %})</p>
            <p>Dni/CUIT: {{cliente.dniCuit}}</p>
            <p>Nombres: {{ cliente.nombres }} </p>
            <p>Apellidos:{{cliente.apellidos}} </p>
            <p>Direccion: {{ cliente.direccion }}</p>
            <p>Localidad: {{cliente.localidad}}</p>
            <p>Celular: {{cliente.celular}}</p>
            <p>Telefono: {{ cliente.telefono }}</p>
            <p>Email: {{cliente.email}}</p>
            <p>Descuento Servicio: {{cliente.descuentoServicio}}</p>
            <p>Descuento Producto: {{cliente.descuentoProducto}}</p>
            <p>Cuenta Corriente: {{cliente.cuentaCorriente}}</p>
        </div>
        {% else %}

            <p> El cliente no existe </p>

        {% endif %}

    </div>

{% endblock clienteContenido %}
</html>