<!DOCTYPE html>
<html lang="en">
{% extends 'GestionDeClientes/GestionDeClientes.html' %}

{% block titulo %}
Gestion de Clientes | Ver Deshabilitados
{% endblock %}

{% block clienteTitulo %}
Clientes Deshabilitados
{% endblock %}

{% block clienteSubtitulo %}
Actualmente <strong>no</strong> disponibles
{% endblock %}

{% block secciones %}
{% include './seccionesSnippet.html' with pagina='verDeshabilitados' %}
{% endblock %}

{% block clienteContenido %}

<!-- Listado -->
<div class="clienteCuerpo" >

  <p> Los siguientes clientes pueden ser habilitados o eliminados.  </p>

    {% if clientes %}
            <div class="table-responsive" id="tabla">
                <table class="table clienteListado">
                    <thead>
                        <tr>
                            <th id="deshabilitados-nombre">Nombre</th>
                            <th id="deshabilitados-acciones">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                            <tr>
                                <td>{{ cliente.nombres }}</td>
                                <td >
                                    <p align="center">
                                        <a  href="{% url 'clientes:clienteVer' cliente.id %}" class="btn btn-xs btn-default">
                                            <i class="glyphicon glyphicon-search"> </i>
                                        </a>
                                        <a href="{% url 'clientes:clienteModificar' cliente.id %}" class="btn btn-xs btn-default">
                                            <i class="glyphicon glyphicon-edit"> </i>
                                        </a>
                                        <a href="{% url 'clientes:clienteHabilitar' cliente.id %}" class="btn btn-xs btn-default">
                                            <i class="glyphicon glyphicon-plus"> </i>
                                        </a>
                                        <a href="{% url 'clientes:clienteEliminar' cliente.id %}" class="btn btn-xs btn-default">
                                            <i class="glyphicon glyphicon-remove"> </i>
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

    {% else %}

        <p> No hay clientes habilitados</p>

    {% endif %}

</div>

{% endblock %}

</html>