{% extends 'GestionDeClientes/GestionDeClientes.html' %}

{% block titulo %}
Gestion de Clientes | Ver Deshabilitados
{% endblock %}

{% block clienteTitulo %}
Clientes Deshabilitados
{% endblock %}

{% block clienteSubtitulo %}
Actualmente <strong>no</strong> disponibles
{% endblock %}

{% block secciones %}
{% include './seccionesSnippet.html' with pagina='verDeshabilitados' %}
{% endblock %}

{% block clienteContenido %}

<!-- Listado -->
<div class="clienteCuerpo" >

   <div id="filtrarClientesHabilitados">
            <a role="button" href="#filtrarClientes" data-toggle="collapse">
                <i class="glyphicon glyphicon-tasks"></i>
                <span>Criterios de busqueda</span>
            </a>
        <div id="filtrarClientes" class="collapse in">
            <form class="form-horizontal filtrado" action="" method="GET">
                <!--{% include "formularios/snippet.html" with formulario=form accion="Filtrar" %}-->
                    <div>
                        <form action="" method="GET">
                            <br>
                            <input name="dniCuit" placeholder="DNI/CUIT">
                            <input name="nombres" placeholder="Nombres">
                            <input name="apellidos" placeholder="Apellidos">

                            <button type="submit" class="" >

                                <!--<a  class="btn btn-xs btn-default"> <i class="glyphicon glyphicon-search"> </i> </a>-->
                                <a  class="wrapper-simple naranja"> <i class="glyphicon glyphicon-search"> </i> </a>

                            </button>
                        </form>
                    </div>
            </form>
        </div>
    </div>
    <br>
    <div class="clienteLineaTitulo"> </div>

    <br>

    <p> Los siguientes clientes pueden ser habilitados o eliminados.  </p>


    {% if clientes %}
            <div class="table-responsive" id="tabla">
                <table class="table clienteListado">
                    <thead>
                        <tr>
                            <th id="deshabilitados-nombre">Nombre</th>
                            <th id="deshabilitados-dni">DNI/CUIT</th>
                            <th id="deshabilitados-acciones">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                            <tr>
                                <td>{{ cliente.apellidos }}, {{cliente.nombres}}</td>
                                <td><p> {{cliente.dniCuit}} </p></td>
                                <td >
                                    <p align="justify">
                                        <a  href="{% url 'clientes:clienteVer' cliente.id %}" class="btn btn-xs btn-default">
                                            <i class="glyphicon glyphicon-eye-open"> </i>
                                        </a>
                                        <a href="{% url 'clientes:clienteModificar' cliente.id %}" class="btn btn-xs btn-default">
                                            <i class="glyphicon glyphicon-edit"> </i>
                                        </a>
                                        <a href="{% url 'clientes:clienteHabilitar' cliente.id %}" class="btn btn-xs btn-default">
                                            <i class="glyphicon glyphicon-plus"> </i>
                                        </a>
                                        <a href="{% url 'clientes:clienteEliminar' cliente.id %}" class="btn btn-xs btn-default">
                                            <i class="glyphicon glyphicon-remove"> </i>
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

    {% else %}

        <p> No hay clientes deshabilitados</p>

    {% endif %}

</div>

{% endblock %}
